/* line 2, ../../scss/configurator/_override_resp.scss */
.primary li.parent:hover a {
  color: white; }

/* line 3, ../../scss/configurator/_override_resp.scss */
.primary li li a, .primary li li:hover a {
  color: #13a4de !important; }

/* line 4, ../../scss/configurator/_override_resp.scss */
.icon.circle {
  background: #13a4de !important; }

/* line 5, ../../scss/configurator/_override_resp.scss */
.input-large {
  border-radius: 0px !important; }

/* line 8, ../../scss/configurator/_override_resp.scss */
.dropdown-menu > li > a:hover {
  background-color: #13a4de;
  color: #ffffff; }

/* line 9, ../../scss/configurator/_override_resp.scss */
.dropdown.short .dropdown-menu, .dropdown .dropdown-menu {
  min-width: 60px; }

/* line 11, ../../scss/configurator/_override_resp.scss */
.top-progress-bar div.previous .arrow-right {
  border-left-width: 20.5px; }

/* line 12, ../../scss/configurator/_override_resp.scss */
#footer #footer_channel {
  width: 1000px; }

@media only screen and (max-width: 939px) {
  /* line 18, ../../scss/configurator/_override_resp.scss */
  #header {
    width: 960px; }

  /*	h3 {
  		margin: 20px 0 16px 0 !important;
  	}*/
  /* line 22, ../../scss/configurator/_override_resp.scss */
  .fibre .info-box.green-box h3 {
    margin: 0 !important; }

  /* line 25, ../../scss/configurator/_override_resp.scss */
  .page-header {
    width: 100%;
    padding: 0 !important;
    padding-bottom: 10px !important;
    margin: 0;
    background: inherit !important;
    border-bottom: 1px solid #a6a6a6 !important; }

  /* line 34, ../../scss/configurator/_override_resp.scss */
  .top-progress-bar.four-steps div.current, .top-progress-bar.four-steps div {
    width: 25%; }
  /* line 36, ../../scss/configurator/_override_resp.scss */
  .top-progress-bar .bottom-border {
    display: inline-block; }
  /* line 37, ../../scss/configurator/_override_resp.scss */
  .top-progress-bar div {
    margin-left: -20px;
    padding: 15px 0 15px 20px; }
    /* line 38, ../../scss/configurator/_override_resp.scss */
    .top-progress-bar div .progress-bar-label {
      display: inline-block; }
    /* line 39, ../../scss/configurator/_override_resp.scss */
    .top-progress-bar div .arrow-right {
      border-left-width: 20.5px !important;
      border-top-width: 30px !important;
      border-bottom-width: 30px !important; }

  /* line 48, ../../scss/configurator/_override_resp.scss */
  .content-block-header {
    border-bottom: 0 !important;
    margin: 0 0 20px; }

  /* line 49, ../../scss/configurator/_override_resp.scss */
  #footer .nav .col ul {
    display: block !important; }

  /* line 50, ../../scss/configurator/_override_resp.scss */
  #footer .nav .col h5 {
    margin: 16px 0 4px 0 !important; }

  /* line 51, ../../scss/configurator/_override_resp.scss */
  #footer .nav .col.contact .footer-social h5 {
    display: block !important; }

  /* line 52, ../../scss/configurator/_override_resp.scss */
  #footer .nav .col.contact .footer-social {
    margin-bottom: 40px !important; }

  /* line 53, ../../scss/configurator/_override_resp.scss */
  #footer #footer_channel {
    display: block !important; }

  /* line 54, ../../scss/configurator/_override_resp.scss */
  #footer .footerbreadcrumb {
    border-bottom: 4px solid #13a4de; }

  /* line 55, ../../scss/configurator/_override_resp.scss */
  #footer ul.breadcrumb {
    background: inherit !important;
    color: inherit !important;
    padding-left: inherit !important; }

  /* line 59, ../../scss/configurator/_override_resp.scss */
  #footer ul.breadcrumb li a {
    color: #666 !important; }

  /* line 60, ../../scss/configurator/_override_resp.scss */
  #footer .breadcrumb > li + li:before {
    color: #ccc !important; }

  /* line 61, ../../scss/configurator/_override_resp.scss */
  #footer .bottom .wrap {
    border-top: 0; }
    /* line 63, ../../scss/configurator/_override_resp.scss */
    #footer .bottom .wrap .copyright {
      color: #babcbc !important;
      float: right !important;
      margin-top: 0 !important;
      text-align: right !important; }

  /* line 69, ../../scss/configurator/_override_resp.scss */
  #footer .bottom .wrap .copyright {
    clear: inherit !important;
    margin-top: -20px !important; }

  /* line 70, ../../scss/configurator/_override_resp.scss */
  #footer .bottom .wrap .legal {
    clear: inherit !important;
    float: right !important; }

  /* line 71, ../../scss/configurator/_override_resp.scss */
  #footer .bottom .wrap .legal a {
    color: #babcbc !important; }

  /* line 72, ../../scss/configurator/_override_resp.scss */
  #footer .bottom .wrap ul li {
    color: #babcbe; }

  /* line 73, ../../scss/configurator/_override_resp.scss */
  #footer .fullwidth-bg {
    border-top: 1px solid #babcbe !important; }

  /* line 74, ../../scss/configurator/_override_resp.scss */
  #footer .nav .col.contact {
    display: block !important; }

  /* line 75, ../../scss/configurator/_override_resp.scss */
  #footer .nav .col.contact .footer-social a i {
    color: #666 !important;
    font-size: 34px !important; }

  /* line 79, ../../scss/configurator/_override_resp.scss */
  #footer .nav .col.contact .footer-social {
    display: block !important;
    position: relative !important;
    right: inherit !important;
    color: #666 !important; } }
@media only screen and (max-width: 639px) {
  /* line 88, ../../scss/configurator/_override_resp.scss */
  #header {
    width: 960px; }

  /* line 89, ../../scss/configurator/_override_resp.scss */
  h1 {
    font-size: 33px;
    line-height: 36px;
    word-spacing: -1px;
    margin: 15px 0 5px 0; }

  /* line 92, ../../scss/configurator/_override_resp.scss */
  h1.block {
    letter-spacing: 1px; }

  /* line 93, ../../scss/configurator/_override_resp.scss */
  h1.block span, h1.block .block-link {
    margin: 1px 2px 1px 0 !important;
    padding: 3px 10px 2px 10px !important;
    line-height: 48px !important; }

  /* line 98, ../../scss/configurator/_override_resp.scss */
  button.normal, .button.normal, .btn.normal {
    width: 280px !important; }

  /* line 99, ../../scss/configurator/_override_resp.scss */
  .card .inner-card h2 {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 0;
    margin-top: -4px;
    margin-bottom: 16px;
    border-bottom: 1px solid #babcbc; }

  /* line 107, ../../scss/configurator/_override_resp.scss */
  .ico-block .ico-card-img {
    margin: 0 auto !important;
    max-width: inherit;
    padding: 0; }

  /* line 112, ../../scss/configurator/_override_resp.scss */
  .ico-block .ico-card {
    text-align: center; }

  /* line 115, ../../scss/configurator/_override_resp.scss */
  .ico-block .ico-card-txt .ico-center {
    max-width: 204px; }

  /* line 118, ../../scss/configurator/_override_resp.scss */
  .floating-header-wrap {
    background: white !important;
    height: inherit; }

  /* line 122, ../../scss/configurator/_override_resp.scss */
  .page-header {
    width: 100%;
    padding: 0 !important;
    padding-bottom: 10px !important;
    margin: 0;
    background: inherit !important;
    border-bottom: 1px solid #a6a6a6 !important; }
    /* line 129, ../../scss/configurator/_override_resp.scss */
    .page-header h4 {
      margin: 0; }
    /* line 130, ../../scss/configurator/_override_resp.scss */
    .page-header a.back-btn {
      color: white;
      text-transform: uppercase;
      opacity: 0.5;
      display: block; }
    /* line 135, ../../scss/configurator/_override_resp.scss */
    .page-header a.back-btn:hover {
      opacity: 1;
      text-decoration: none; }
    /* line 138, ../../scss/configurator/_override_resp.scss */
    .page-header a.back-btn i {
      font-size: 120%; }

  /* line 141, ../../scss/configurator/_override_resp.scss */
  .page-header h1 {
    margin-left: 0;
    text-transform: none !important;
    color: #949494 !important;
    font-size: 33px !important;
    line-height: 36px !important;
    padding-left: 0; }

  /* line 148, ../../scss/configurator/_override_resp.scss */
  #footer #footer_channel {
    display: block !important; } }
/** IE9 */
/* line 22, ../../scss/configurator/_re-eng-configurator.scss */
.no-flexbox .circle-image-bkgd {
  background: #d2d3d4 !important; }

/** For IE9 */
/* line 23, ../../scss/configurator/_re-eng-configurator.scss */
.no-flexbox .circle-image-bkgd.white.transparent {
  background: rgba(255, 255, 255, 0.1) !important; }

/** For IE9 */
/* line 26, ../../scss/configurator/_re-eng-configurator.scss */
#header {
  background-color: white; }

/* line 27, ../../scss/configurator/_re-eng-configurator.scss */
#header .secondnavigationbar {
  min-height: 150px; }

/* line 29, ../../scss/configurator/_re-eng-configurator.scss */
#header #top-logo img {
  margin-top: 18px; }

/* line 33, ../../scss/configurator/_re-eng-configurator.scss */
.no-margin {
  margin: 0; }

/* line 34, ../../scss/configurator/_re-eng-configurator.scss */
.no-margin-top {
  margin-top: 0; }

/* line 35, ../../scss/configurator/_re-eng-configurator.scss */
.no-padding {
  padding: 0; }

/* line 36, ../../scss/configurator/_re-eng-configurator.scss */
.margin-top {
  margin-top: 15px !important; }

/* line 37, ../../scss/configurator/_re-eng-configurator.scss */
.margin-bottom {
  margin-bottom: 15px !important; }

/* line 38, ../../scss/configurator/_re-eng-configurator.scss */
.right-side-label {
  margin-top: 7px;
  display: block; }

/* line 39, ../../scss/configurator/_re-eng-configurator.scss */
.login-text {
  text-align: right;
  margin-top: 100px; }

/* line 40, ../../scss/configurator/_re-eng-configurator.scss */
.force-wide-100 {
  width: 100%; }

/* line 41, ../../scss/configurator/_re-eng-configurator.scss */
.width-85 {
  width: 85% !important; }

/* line 42, ../../scss/configurator/_re-eng-configurator.scss */
.no-wrap {
  white-space: nowrap; }

/* line 43, ../../scss/configurator/_re-eng-configurator.scss */
.hr-top {
  margin-top: 0; }

/* line 44, ../../scss/configurator/_re-eng-configurator.scss */
.override-info-box {
  display: block !important;
  color: #414042 !important; }

/* line 45, ../../scss/configurator/_re-eng-configurator.scss */
.show-boundaries {
  overflow: visible !important; }

/* line 46, ../../scss/configurator/_re-eng-configurator.scss */
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden; }

/* line 53, ../../scss/configurator/_re-eng-configurator.scss */
.page.configurator-new-customer .home-wiring-panel-checkbox-and-text {
  float: left;
  margin-left: 8px;
  width: 80%; }
/* line 58, ../../scss/configurator/_re-eng-configurator.scss */
.page.configurator-new-customer .block-var-1 {
  max-width: 100%;
  padding-bottom: 70px; }
/* line 62, ../../scss/configurator/_re-eng-configurator.scss */
.page.configurator-new-customer .image-1.hero-card .fg-image img {
  width: 647px !important;
  height: 249px !important; }
/* line 64, ../../scss/configurator/_re-eng-configurator.scss */
.page.configurator-new-customer .image-1 .inner-card {
  height: 249px; }

/* line 72, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .landline-choose .row h5 {
  margin-left: 60px; }
/* line 75, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .landline-choose .row .center {
  text-align: center;
  vertical-align: top; }
/* line 80, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .landline-choose .side-by-side-elements {
  display: inline-block;
  height: 34px;
  overflow: hidden;
  vertical-align: top; }
/* line 86, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .landline-choose .side-by-side-input {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 5px 10px;
  height: 34px; }
/* line 96, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .landline-choose a.hori-tight-btn {
  width: 220px;
  height: 34px;
  background-color: #13a4de;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px; }
  /* line 97, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-step-1 .landline-choose a.hori-tight-btn.disabled {
    background-color: #babcbe; }
  /* line 100, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-step-1 .landline-choose a.hori-tight-btn div {
    text-align: center;
    padding-top: 1px; }
/* line 112, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .landline-choose a.hori-tight-btn.extended {
  height: 34px;
  line-height: 35px;
  display: block;
  text-align: center; }
/* line 118, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .landline-choose input[name="phone"] {
  width: 250px; }
  /* line 119, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-step-1 .landline-choose input[name="phone"].disabled {
    background-color: #eeeeee;
    color: #414042; }
/* line 126, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 label.full-width {
  width: 100%; }
/* line 127, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .radio-extra {
  margin: 15px 0 15px 40px; }
/* line 128, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 button.full-width {
  width: 100%; }
/* line 129, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 button.magenta {
  background: #e1058c; }
/* line 130, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .grey {
  color: #414042; }
/* line 131, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .card.secondary .table {
  background: #fff;
  color: #414042; }
/* line 132, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .table td:first-child {
  width: 25%; }
/* line 133, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .table tr:first-child td {
  border-top: 0; }
/* line 134, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 .inner-wrapper.tight label, .page .checkout-step-1 .inner-card.tight label {
  margin-bottom: 0; }
/* line 135, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-1 textarea[name="address"] {
  padding: 9px 15px;
  height: 80px; }

/* line 143, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-3 {
  overflow: visible !important; }
  /* line 144, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-step-3 .dropdown.employment {
    max-width: 330px; }
  /* line 149, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-step-3 .card.secondary .info-box.light-grey .col-xs-3 {
    width: 24%; }
  /* line 153, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-step-3 textarea[name="address"] {
    padding: 9px 15px;
    height: 80px; }

/* line 167, ../../scss/configurator/_re-eng-configurator.scss */
.page .checkout-step-4 .button-section.quad-btns button.blue {
  width: inherit; }

/* line 177, ../../scss/configurator/_re-eng-configurator.scss */
.page.checkout-thankyou .image-1.hero-card .fg-image img {
  width: 940px !important;
  height: 400px !important; }
/* line 179, ../../scss/configurator/_re-eng-configurator.scss */
.page.checkout-thankyou .image-1 .inner-card {
  height: 400px; }
/* line 180, ../../scss/configurator/_re-eng-configurator.scss */
.page.checkout-thankyou .image-2.hero-card .fg-image img {
  width: 940px !important;
  height: 400px !important; }
/* line 182, ../../scss/configurator/_re-eng-configurator.scss */
.page.checkout-thankyou .image-2 .inner-card {
  height: 400px; }

/* line 189, ../../scss/configurator/_re-eng-configurator.scss */
.page {
  overflow: visible;
  color: #414042; }
  /* line 199, ../../scss/configurator/_re-eng-configurator.scss */
  .page .top-progress-bar .previous .progress-bar-label h4 {
    color: #13a4de; }
  /* line 204, ../../scss/configurator/_re-eng-configurator.scss */
  .page .green-txt {
    color: #00af62 !important; }
  /* line 205, ../../scss/configurator/_re-eng-configurator.scss */
  .page .white-text {
    color: #ffffff; }
  /* line 206, ../../scss/configurator/_re-eng-configurator.scss */
  .page .grey-text_c {
    color: #414042;
    font-weight: bold;
    font-size: 13px;
    text-transform: none;
    font-family: AvenirNextLTPro-Regular, Calibri, Arial, sans-serif; }
  /* line 209, ../../scss/configurator/_re-eng-configurator.scss */
  .page .col-h3 h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 12px;
    padding-bottom: 8px; }
  /* line 214, ../../scss/configurator/_re-eng-configurator.scss */
  .page .col-h4 h4 {
    text-transform: uppercase;
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 12px;
    padding-bottom: 8px; }
  /* line 220, ../../scss/configurator/_re-eng-configurator.scss */
  .page .sub-text {
    font-size: 12px; }
    /* line 221, ../../scss/configurator/_re-eng-configurator.scss */
    .page .sub-text a {
      margin: 0;
      padding: 0;
      background: none !important; }
  /* line 230, ../../scss/configurator/_re-eng-configurator.scss */
  .page .grey-bkgd {
    background-color: #babcbe !important; }
  /* line 231, ../../scss/configurator/_re-eng-configurator.scss */
  .page .grey-border {
    border: 1px solid #babcbe; }
  /* line 234, ../../scss/configurator/_re-eng-configurator.scss */
  .page .container-fluid {
    margin-top: 0;
    width: 100%;
    min-width: 940px;
    padding: 0; }
    /* line 237, ../../scss/configurator/_re-eng-configurator.scss */
    .page .container-fluid .set-up-header {
      margin-top: 9px; }
    /* line 238, ../../scss/configurator/_re-eng-configurator.scss */
    .page .container-fluid .inner-container {
      width: 940px;
      margin: 0 auto; }
  /* line 243, ../../scss/configurator/_re-eng-configurator.scss */
  .page .ico-card-img div {
    width: 100px;
    height: 100px;
    margin: 0 auto; }
  /* line 251, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card .inner-container {
    width: 940px;
    margin: 0 auto; }
    /* line 252, ../../scss/configurator/_re-eng-configurator.scss */
    .page .card .inner-container h2 {
      color: #414042 !important; }
  /* line 256, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card .inner-card h2 {
    padding-right: 0; }
  /* line 259, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card .inner-card h4.wth-underline {
    border-bottom: 1px solid #babcbe;
    margin-bottom: 3px;
    padding-bottom: 7px; }
  /* line 266, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card .info-box.light-grey {
    background-color: #f7f7f7;
    color: #414042; }
  /* line 271, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card .info-box.internal-grey {
    background-color: #ebebec;
    color: #ffffff; }
    /* line 272, ../../scss/configurator/_re-eng-configurator.scss */
    .page .card .info-box.internal-grey h5 {
      color: #ffffff; }
  /* line 276, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card .info-box.dark-grey {
    background-color: #414042;
    color: #ffffff; }
  /* line 286, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card.secondary .info-box.internal-grey {
    background-color: #babcbe; }
  /* line 290, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card.secondary .table.on-light-grey {
    background: #f7f7f7;
    margin-top: 7px; }
    /* line 293, ../../scss/configurator/_re-eng-configurator.scss */
    .page .card.secondary .table.on-light-grey tr:first-child td {
      border: 0; }
    /* line 296, ../../scss/configurator/_re-eng-configurator.scss */
    .page .card.secondary .table.on-light-grey td {
      padding: 12px 0 12px 20px; }
    /* line 297, ../../scss/configurator/_re-eng-configurator.scss */
    .page .card.secondary .table.on-light-grey td:first-child {
      width: 15%; }
  /* line 301, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card-title {
    font-size: 23px; }
  /* line 302, ../../scss/configurator/_re-eng-configurator.scss */
  .page .card.table div {
    color: #414042; }
  /* line 303, ../../scss/configurator/_re-eng-configurator.scss */
  .page .table-row.gray {
    background: #eee; }
  /* line 304, ../../scss/configurator/_re-eng-configurator.scss */
  .page .table-row.yellow {
    background: #fff201; }
  /* line 305, ../../scss/configurator/_re-eng-configurator.scss */
  .page .table-row.purple {
    background: #51448b;
    color: white; }
  /* line 306, ../../scss/configurator/_re-eng-configurator.scss */
  .page .table-row-divider {
    border-bottom: 1px solid white; }
  /* line 307, ../../scss/configurator/_re-eng-configurator.scss */
  .page .table-row {
    padding: 8px 12px; }
  /* line 310, ../../scss/configurator/_re-eng-configurator.scss */
  .page .simple-white-grid .td-first {
    width: 200px; }
  /* line 311, ../../scss/configurator/_re-eng-configurator.scss */
  .page .simple-white-grid td {
    border: 0px;
    border-bottom: 1px solid #eeeeee;
    background-color: white;
    padding: 15px 12px 15px 12px; }
  /* line 320, ../../scss/configurator/_re-eng-configurator.scss */
  .page .simple-white-grid.extend .td-first {
    width: 227px; }
  /* line 323, ../../scss/configurator/_re-eng-configurator.scss */
  .page #sidebar-affix {
    overflow: hidden; }
    /* line 325, ../../scss/configurator/_re-eng-configurator.scss */
    .page #sidebar-affix .content-block-header {
      z-index: 100; }
  /* line 331, ../../scss/configurator/_re-eng-configurator.scss */
  .page .panel-heading.extend .panel-toggle {
    background: transparent; }
    /* line 333, ../../scss/configurator/_re-eng-configurator.scss */
    .page .panel-heading.extend .panel-toggle h5 {
      width: 80%;
      font-size: 14px;
      margin: 0;
      text-transform: uppercase; }
    /* line 339, ../../scss/configurator/_re-eng-configurator.scss */
    .page .panel-heading.extend .panel-toggle:before {
      font-size: 8px;
      padding: 7px 0 7px 0; }
  /* line 344, ../../scss/configurator/_re-eng-configurator.scss */
  .page .panel.extend {
    box-shadow: none;
    -webkit-box-shadow: none; }
    /* line 348, ../../scss/configurator/_re-eng-configurator.scss */
    .page .panel.extend .panel-heading {
      border-bottom: 1px solid #babcbe; }
  /* line 352, ../../scss/configurator/_re-eng-configurator.scss */
  .page .panel-group {
    margin-bottom: 0; }
    /* line 354, ../../scss/configurator/_re-eng-configurator.scss */
    .page .panel-group .panel.extend + .panel.extend {
      margin-top: 0;
      border: 0; }
  /* line 359, ../../scss/configurator/_re-eng-configurator.scss */
  .page .panel-body.table {
    padding: 0; }
    /* line 361, ../../scss/configurator/_re-eng-configurator.scss */
    .page .panel-body.table .table-card.white-table-card {
      padding: 8px 0 0 0; }
  /* line 366, ../../scss/configurator/_re-eng-configurator.scss */
  .page .panel-link-right-spacing {
    margin-right: 15px; }
  /* line 371, ../../scss/configurator/_re-eng-configurator.scss */
  .page .blue-button-under-card {
    padding: 20px 10px; }
    /* line 373, ../../scss/configurator/_re-eng-configurator.scss */
    .page .blue-button-under-card .side {
      padding-bottom: 13px; }
      /* line 375, ../../scss/configurator/_re-eng-configurator.scss */
      .page .blue-button-under-card .side button {
        margin: 13px 0 0 0; }
  /* line 384, ../../scss/configurator/_re-eng-configurator.scss */
  .page .button-section.quad-btns .blue_bg {
    text-align: center;
    padding: 20px 0 !important; }
  /* line 388, ../../scss/configurator/_re-eng-configurator.scss */
  .page .button-section.quad-btns button.blue {
    width: 210px; }
  /* line 389, ../../scss/configurator/_re-eng-configurator.scss */
  .page .button-section.quad-btns .row {
    margin: 0 10px; }
  /* line 395, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-wrapper .panel-toggle {
    padding: 5px 0px;
    color: #414042 !important; }
  /* line 399, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-wrapper .panel-toggle:hover {
    color: inherit; }
  /* line 400, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-wrapper .add-to-cart {
    margin-bottom: 20px; }
  /* line 402, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-container {
    padding: 3%;
    background-color: white; }
  /* line 404, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-menu {
    padding: 6px 0;
    float: right;
    width: 92%; }
  /* line 406, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-col-1 {
    float: left;
    width: 61%; }
  /* line 407, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-col-2 {
    float: left;
    width: 39%;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
    padding-right: 7px;
    color: inherit; }
  /* line 415, ../../scss/configurator/_re-eng-configurator.scss */
  .page .accord-right-spacer {
    padding-right: 7px; }
  /* line 419, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian .panel {
    background: none;
    border: 0;
    box-shadow: none; }
  /* line 424, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian .panel-heading {
    background: none;
    border-bottom: 1px solid #babcbe !important;
    border-image: none;
    margin-bottom: 7px; }
    /* line 425, ../../scss/configurator/_re-eng-configurator.scss */
    .page .checkout-accordian .panel-heading .panel-toggle:before {
      right: -920px;
      font-size: 10px;
      padding: 7px 0;
      background: none; }
    /* line 431, ../../scss/configurator/_re-eng-configurator.scss */
    .page .checkout-accordian .panel-heading .panel-toggle h4 {
      padding: 7px 0;
      width: 50%;
      color: #414042;
      border: 0; }
    /* line 437, ../../scss/configurator/_re-eng-configurator.scss */
    .page .checkout-accordian .panel-heading .panel-toggle:hover h4 {
      color: #414042; }
  /* line 443, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian .panel-heading:hover {
    background: none; }
  /* line 446, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian table.grey {
    background: #dedede; }
  /* line 449, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian table td {
    padding: 5px !important;
    border-top: 1px solid #ebebec !important; }
    /* line 450, ../../scss/configurator/_re-eng-configurator.scss */
    .page .checkout-accordian table td h5 {
      padding-right: 9px; }
  /* line 455, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian table td:first-child {
    border: 0; }
  /* line 456, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian table p {
    padding: 9px;
    margin: 0; }
  /* line 457, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian table .col1 {
    width: 60%; }
  /* line 458, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian table .col2 {
    width: 20%; }
  /* line 459, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkout-accordian table .col3 {
    width: 20%;
    text-align: right; }
  /* line 465, ../../scss/configurator/_re-eng-configurator.scss */
  .page .content-block-header.with-line {
    border-bottom: 16px solid #bb0370;
    margin-bottom: 0; }
  /* line 470, ../../scss/configurator/_re-eng-configurator.scss */
  .page .dropdown button:after {
    right: 0;
    font-size: 25px; }
  /* line 473, ../../scss/configurator/_re-eng-configurator.scss */
  .page input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #13a4de;
    background: #fff;
    border: 1px solid #13a4de;
    font-size: 14px;
    height: 34px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%; }
  /* line 477, ../../scss/configurator/_re-eng-configurator.scss */
  .page input[type="text"].error {
    color: #e34945; }
  /* line 480, ../../scss/configurator/_re-eng-configurator.scss */
  .page .blue-button-float-right.grey-bkgd {
    border: 0px; }
  /* line 481, ../../scss/configurator/_re-eng-configurator.scss */
  .page .blue-button-float-right {
    float: right;
    width: 28%;
    height: 34px;
    background-color: #13a4de;
    color: white;
    border: 1px solid #13a4de;
    border-left: 0px; }
    /* line 485, ../../scss/configurator/_re-eng-configurator.scss */
    .page .blue-button-float-right .inner-blue-button {
      color: #fff;
      text-align: center;
      padding-top: 7px;
      text-transform: uppercase; }
  /* line 486, ../../scss/configurator/_re-eng-configurator.scss */
  .page .blue-button-float-right:hover {
    background-color: #72d0f4; }
  /* line 487, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-control-with-blue-button {
    width: 72%;
    float: right; }
  /* line 489, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-control.active {
    border: 0;
    background-color: #13a4de;
    color: #ffffff; }
  /* line 494, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkbox-top {
    float: left;
    background-position: 0px -7px; }
  /* line 495, ../../scss/configurator/_re-eng-configurator.scss */
  .page input[type="checkbox"].normal:checked + label span.checkbox-top {
    background-position: -48px -7px; }
  /* line 498, ../../scss/configurator/_re-eng-configurator.scss */
  .page .checkbox-double-lines {
    float: left;
    width: 90%; }
  /* line 499, ../../scss/configurator/_re-eng-configurator.scss */
  .page .radio-top {
    background-position: -90px -8px;
    vertical-align: top; }
  /* line 500, ../../scss/configurator/_re-eng-configurator.scss */
  .page input[type="radio"].checked + label span, .page input[type="radio"]:checked + label span.radio-top {
    background-position: -128px -8px; }
  /* line 504, ../../scss/configurator/_re-eng-configurator.scss */
  .page input, .page input[type="text"], .page input[type="password"] {
    border-radius: 0; }
  /* line 510, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .phone {
    vertical-align: top; }
    /* line 511, ../../scss/configurator/_re-eng-configurator.scss */
    .page .form-group .phone .dropdown {
      width: 28%;
      margin-right: 2%;
      display: inline-block;
      min-width: 28%; }
    /* line 517, ../../scss/configurator/_re-eng-configurator.scss */
    .page .form-group .phone input[type="text"] {
      width: 69%;
      display: inline-block; }
  /* line 524, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .checkbox-top {
    float: left;
    background-position: 0px -7px; }
  /* line 525, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group input[type="checkbox"].normal:checked + label span.checkbox-top {
    background-position: -48px -7px; }
  /* line 528, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .checkbox-double-lines {
    float: left;
    width: 90%; }
  /* line 529, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .radio-top {
    background-position: -90px -8px;
    vertical-align: top; }
  /* line 530, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group input[type="radio"].checked + label span, .page .form-group input[type="radio"]:checked + label span.radio-top {
    background-position: -128px -8px; }
  /* line 533, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group.tight label {
    margin-bottom: 0; }
  /* line 539, ../../scss/configurator/_re-eng-configurator.scss */
  .page textarea.form-control {
    resize: none; }
  /* line 548, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .triple-drop .dropdown {
    display: inline-block;
    width: 32%;
    margin-left: 2%; }
  /* line 553, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .triple-drop .dropdown:first-child {
    margin-left: 0;
    width: 30%; }
  /* line 557, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .triple-drop .dropdown-menu {
    min-width: 25%; }
  /* line 562, ../../scss/configurator/_re-eng-configurator.scss */
  .page .form-group .dropdown.double-col {
    width: 65%; }
  /* line 570, ../../scss/configurator/_re-eng-configurator.scss */
  .page #footer .bottom {
    background-color: white;
    margin: 0; }
    /* line 572, ../../scss/configurator/_re-eng-configurator.scss */
    .page #footer .bottom .wrap {
      margin: 10px auto 50px auto;
      width: 940px;
      color: #666666; }
      /* line 575, ../../scss/configurator/_re-eng-configurator.scss */
      .page #footer .bottom .wrap ul {
        padding-left: 0 !important; }
      /* line 578, ../../scss/configurator/_re-eng-configurator.scss */
      .page #footer .bottom .wrap .copyright {
        margin-top: 0;
        margin-right: 0 !important;
        color: #babcbe; }
  /* line 589, ../../scss/configurator/_re-eng-configurator.scss */
  .page .cart-summary-row {
    border-bottom: 1px solid #babcbe;
    margin-bottom: 20px; }
  /* line 593, ../../scss/configurator/_re-eng-configurator.scss */
  .page .cart-summary-row.top {
    border: 0;
    border-top: 1px solid #babcbe;
    margin: 0;
    margin-top: 15px; }
  /* line 594, ../../scss/configurator/_re-eng-configurator.scss */
  .page .cart-summary-row.bottom {
    border: 0;
    margin: 0; }
  /* line 595, ../../scss/configurator/_re-eng-configurator.scss */
  .page .cart-summary-text {
    font-size: 24px;
    font-family: AvenirNextLTPro-Bold, Calibri, Arial, sans-serif;
    color: #414042; }
  /* line 601, ../../scss/configurator/_re-eng-configurator.scss */
  .page .total-container div, .page .total-container strong {
    color: #414042;
    font-size: 14px; }
  /* line 605, ../../scss/configurator/_re-eng-configurator.scss */
  .page .total-container h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 12px;
    padding-bottom: 8px; }
  /* line 612, ../../scss/configurator/_re-eng-configurator.scss */
  .page .product-image-float {
    position: absolute;
    z-index: 1;
    width: 180px;
    border-radius: 50%;
    left: 50px;
    text-align: center; }
  /* line 614, ../../scss/configurator/_re-eng-configurator.scss */
  .page .product-image-float-2 {
    position: absolute;
    z-index: 1;
    width: 180px;
    border-radius: 50%;
    text-align: center; }
  /* line 616, ../../scss/configurator/_re-eng-configurator.scss */
  .page .product-image-float.yellow {
    position: absolute;
    z-index: 1;
    width: 180px;
    border-radius: 50%;
    left: 50px;
    top: -15px;
    text-align: center; }
  /* line 618, ../../scss/configurator/_re-eng-configurator.scss */
  .page .circle-image-bkgd {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    width: 180px;
    height: 180px;
    left: 50px;
    background: #bcbec0;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #bcbec0 0%, #eaeaeb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #bcbec0), color-stop(100%, #eaeaeb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #bcbec0 0%, #eaeaeb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #bcbec0 0%, #eaeaeb 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #bcbec0 0%, #eaeaeb 100%);
    /* IE10+ */
    background: linear-gradient(45deg, #bcbec0 0%, #eaeaeb 100%);
    /* W3C */ }
  /* line 630, ../../scss/configurator/_re-eng-configurator.scss */
  .page .circle-image-bkgd.white.transparent {
    background: rgba(255, 255, 255, 0.1); }
  /* line 631, ../../scss/configurator/_re-eng-configurator.scss */
  .page .purple-box-grad div {
    color: white !important; }
  /* line 632, ../../scss/configurator/_re-eng-configurator.scss */
  .page .purple-box-grad {
    background: #50438a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #50438a 0%, #7d549b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50438a), color-stop(100%, #7d549b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #50438a 0%, #7d549b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #50438a 0%, #7d549b 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #50438a 0%, #7d549b 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #50438a 0%, #7d549b 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50438a', endColorstr='#7d549b',GradientType=0 );
    /* IE6-9 */ }
  /* line 642, ../../scss/configurator/_re-eng-configurator.scss */
  .page .circle-image {
    text-align: center;
    height: 100%; }
    /* line 642, ../../scss/configurator/_re-eng-configurator.scss */
    .page .circle-image img {
      vertical-align: middle; }
  /* line 643, ../../scss/configurator/_re-eng-configurator.scss */
  .page .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

/* line 648, ../../scss/configurator/_re-eng-configurator.scss */
.arrow-left.big {
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid white; }
/* line 653, ../../scss/configurator/_re-eng-configurator.scss */
.arrow-left.left-offset {
  margin-left: -10px;
  margin-top: 0;
  position: absolute; }
/* line 658, ../../scss/configurator/_re-eng-configurator.scss */
.arrow-left.top {
  margin-top: 7px; }

/* line 664, ../../scss/configurator/_re-eng-configurator.scss */
.info-box.green-box {
  padding: 12px 15px 12px; }
  /* line 666, ../../scss/configurator/_re-eng-configurator.scss */
  .info-box.green-box h3 {
    color: white;
    padding: 0;
    margin: 0;
    line-height: auto; }

/* line 673, ../../scss/configurator/_re-eng-configurator.scss */
.info-box.white.inactive {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 4px; }

/* line 678, ../../scss/configurator/_re-eng-configurator.scss */
.info-box a.grey_block {
  background-color: #ebebec !important;
  padding: 1px 5px;
  margin-left: 10px; }

/* line 682, ../../scss/configurator/_re-eng-configurator.scss */
.info-box.slim {
  padding: 8px 20px; }

/* line 685, ../../scss/configurator/_re-eng-configurator.scss */
.grey-table-card {
  padding: 0 10px 15px; }
  /* line 688, ../../scss/configurator/_re-eng-configurator.scss */
  .grey-table-card .table th {
    background: white; }
  /* line 691, ../../scss/configurator/_re-eng-configurator.scss */
  .grey-table-card .table td {
    background: rgba(255, 255, 255, 0.6); }

/* line 1, ../../scss/configurator/_sidebar.scss */
.sidebar-float {
  height: 1px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 50%;
  width: 940px;
  margin-left: -480px; }

/* line 10, ../../scss/configurator/_sidebar.scss */
.sidebar-float .sidebar-float-body {
  float: right;
  width: 32%;
  background-color: #E3E3E3; }

/* line 15, ../../scss/configurator/_sidebar.scss */
.sidebar-float .sidebar-float-hide {
  display: none; }

/* line 16, ../../scss/configurator/_sidebar.scss */
.sidebar-float .sidebar-float-hide.float-toggle {
  display: block; }

/* line 17, ../../scss/configurator/_sidebar.scss */
.sidebar-float.sidebar-float-context {
  position: absolute;
  z-index: 9998;
  top: 228px;
  height: 1px; }

/* line 23, ../../scss/configurator/_sidebar.scss */
.sidebar-float.sidebar-float-context.float-fixed {
  position: fixed; }

/* line 27, ../../scss/configurator/_sidebar.scss */
.stop-here-2 {
  margin-top: 0; }

/* line 31, ../../scss/configurator/_sidebar.scss */
.summary-header-block-2,
.sidebar-floater {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  z-index: 5; }

/* line 8, ../../scss/configurator/mobile-configurator.scss */
ul, ol {
  padding-left: 1.2em; }

/* line 13, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
  margin-right: 10px;
  width: auto; }

/* line 24, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0; }

/* line 31, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"] + label span {
  background-size: 67px;
  cursor: pointer;
  display: inline-block;
  width: 32px;
  height: 34px;
  margin: 0 0px 0 0;
  vertical-align: middle; }
  /* line 39, ../../scss/configurator/mobile-configurator.scss */
  input[type="checkbox"] + label span:hover {
    opacity: 0.6; }

/* line 44, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"].normal + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -38px 0;
  background-size: 67px; }

/* line 49, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"].normal:checked + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -38px -29px;
  background-size: 67px; }

/* line 55, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"].checked + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -38px -29px;
  background-size: 67px; }

/* line 60, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"].error + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -38px -58px;
  background-size: 67px; }

/* line 65, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"].error:checked + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -38px -87px;
  background-size: 67px; }

/* line 70, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"].disabled + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -38px -116px;
  background-size: 67px;
  cursor: not-allowed; }

/* line 76, ../../scss/configurator/mobile-configurator.scss */
input[type="checkbox"].disabled.checked + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -38px -145px;
  background-size: 67px;
  cursor: not-allowed; }

/* line 82, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"] + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -5px 0;
  background-size: 67px;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  margin: 0;
  margin-right: 3px;
  vertical-align: middle;
  width: 32px; }
  /* line 92, ../../scss/configurator/mobile-configurator.scss */
  input[type="radio"] + label span:hover {
    opacity: 0.8; }

/* line 97, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"].checked + label span, input[type="radio"]:checked + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -5px -33px;
  background-size: 67px; }

/* line 102, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"].error + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -5px -66px;
  background-size: 67px; }

/* line 107, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"].error:checked + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -5px -99px;
  background-size: 67px; }

/* line 112, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"].disabled + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -5px -132px;
  background-size: 67px;
  border-color: #cccccc;
  cursor: not-allowed; }

/* line 119, ../../scss/configurator/mobile-configurator.scss */
input[type="radio"].disabled.checked + label span, input[type="radio"].disabled:checked + label span {
  background: url("../../images/sprite/checkradio.png") no-repeat scroll -5px -167px;
  background-size: 67px;
  border-color: #cccccc;
  cursor: not-allowed; }

/* line 129, ../../scss/configurator/mobile-configurator.scss */
input[type=radio] + label.button.blue {
  padding: 18px 0;
  position: relative;
  cursor: pointer; }
  /* line 133, ../../scss/configurator/mobile-configurator.scss */
  input[type=radio] + label.button.blue span {
    background: none;
    width: 0;
    position: absolute; }

/* line 144, ../../scss/configurator/mobile-configurator.scss */
input[type=radio]:checked + label.button.blue {
  background: #e1058c;
  cursor: default; }
  /* line 147, ../../scss/configurator/mobile-configurator.scss */
  input[type=radio]:checked + label.button.blue span {
    background: url("../../images/sprite/checkradio.png") no-repeat scroll 0 -210px;
    background-size: 70px;
    width: 34px;
    height: 34px;
    right: 10px;
    top: 10px; }

/* line 161, ../../scss/configurator/mobile-configurator.scss */
.sidebar .panel-group .panel {
  border: none; }
  /* line 164, ../../scss/configurator/mobile-configurator.scss */
  .sidebar .panel-group .panel .table-card.non-res {
    overflow-x: hidden !important; }
  /* line 168, ../../scss/configurator/mobile-configurator.scss */
  .sidebar .panel-group .panel .panel-body {
    border-top: none !important;
    margin-top: 10px; }
    /* line 172, ../../scss/configurator/mobile-configurator.scss */
    .sidebar .panel-group .panel .panel-body .table-card tr td:last-child {
      text-align: right; }
/* line 178, ../../scss/configurator/mobile-configurator.scss */
.sidebar .table-row {
  padding: 4px 12px 8px 12px; }

/* line 183, ../../scss/configurator/mobile-configurator.scss */
.number-selection {
  margin-top: 5px; }

/* line 188, ../../scss/configurator/mobile-configurator.scss */
.thanks-offer {
  height: 14px;
  margin: 5px auto; }

/* line 193, ../../scss/configurator/mobile-configurator.scss */
.wifi-offer {
  margin: 5px auto 5px -10px;
  display: inline-block; }
  /* line 197, ../../scss/configurator/mobile-configurator.scss */
  .wifi-offer img {
    height: 18px;
    vertical-align: top; }
  /* line 198, ../../scss/configurator/mobile-configurator.scss */
  .wifi-offer strong {
    color: #555554;
    font-size: 12px; }

/* line 204, ../../scss/configurator/mobile-configurator.scss */
.wifi-offer-new {
  margin: 5px auto 5px -22px; }

/* line 208, ../../scss/configurator/mobile-configurator.scss */
.spotify-offer {
  margin: 5px auto;
  height: 22px; }

/* line 213, ../../scss/configurator/mobile-configurator.scss */
span.margin-right {
  margin-right: 5px !important; }

/* line 219, ../../scss/configurator/mobile-configurator.scss */
.row.content-container {
  padding-bottom: 33px; }

/* line 228, ../../scss/configurator/mobile-configurator.scss */
.info-box.yellow a, .info-box.green a, .info-box.red a {
  background: #eee;
  padding: 2px 4px; }
/* line 234, ../../scss/configurator/mobile-configurator.scss */
.info-box.white {
  padding-top: 20px; }
/* line 238, ../../scss/configurator/mobile-configurator.scss */
.info-box .preffered-date {
  padding-top: 10px;
  padding-left: 20px; }

/* line 245, ../../scss/configurator/mobile-configurator.scss */
.device-price-white {
  background-color: #fff;
  margin-top: 5px;
  width: 90%; }
  /* line 250, ../../scss/configurator/mobile-configurator.scss */
  .device-price-white .number {
    display: inline-block;
    font-family: AvenirNextLTPro-Bold,Calibri,Arial,sans-serif;
    font-size: 60px;
    letter-spacing: -4px;
    line-height: 60px;
    margin-top: 17px;
    color: #414042; }
    /* line 259, ../../scss/configurator/mobile-configurator.scss */
    .device-price-white .number:before {
      content: attr(data-pre);
      display: inline;
      font-size: 20px;
      letter-spacing: 0px;
      padding-left: 2px;
      position: relative;
      top: -28px; }
    /* line 269, ../../scss/configurator/mobile-configurator.scss */
    .device-price-white .number:after {
      content: attr(data-suff);
      font-size: 14px;
      letter-spacing: 0px;
      padding-left: 0; }
  /* line 276, ../../scss/configurator/mobile-configurator.scss */
  .device-price-white.small-price {
    margin-top: 18px;
    margin-left: -20px; }
    /* line 280, ../../scss/configurator/mobile-configurator.scss */
    .device-price-white.small-price .number {
      line-height: 48px; }

/* line 291, ../../scss/configurator/mobile-configurator.scss */
.mobile-reeng .thankyou-image .inner-card {
  height: 400px !important; }
/* line 294, ../../scss/configurator/mobile-configurator.scss */
.mobile-reeng .thankyou-image .fg-image img {
  width: 940px !important;
  height: 400px !important; }
/* line 300, ../../scss/configurator/mobile-configurator.scss */
.mobile-reeng .image-2 .inner-card {
  height: 400px !important; }
/* line 303, ../../scss/configurator/mobile-configurator.scss */
.mobile-reeng .image-2.hero-card .fg-image img {
  width: 940px !important;
  height: 400px !important; }
/* line 308, ../../scss/configurator/mobile-configurator.scss */
.mobile-reeng .custom-inner-card h1 {
  max-width: 67% !important; }

/* line 314, ../../scss/configurator/mobile-configurator.scss */
.table-card.non-res {
  margin: 0px; }

/* line 318, ../../scss/configurator/mobile-configurator.scss */
.checkout-price-column {
  /*font-weight: bold;*/
  padding-right: 10px !important;
  vertical-align: middle !important;
  margin: 0px; }

/* line 326, ../../scss/configurator/mobile-configurator.scss */
.panel-group .panel {
  border: none; }

/* line 333, ../../scss/configurator/mobile-configurator.scss */
.mobile-extras {
  padding-top: 20px; }

/* line 341, ../../scss/configurator/mobile-configurator.scss */
.device-carousel-card.selected button, .device-carousel-card.selected a.button {
  background: #e1058c !important;
  position: relative; }
  /* line 344, ../../scss/configurator/mobile-configurator.scss */
  .device-carousel-card.selected button:after, .device-carousel-card.selected a.button:after {
    content: "";
    background: url("../../images/sprite/checkradio.png") no-repeat scroll 0 -210px;
    background-size: 70px;
    width: 34px;
    height: 34px;
    right: 10px;
    top: -1px;
    position: absolute; }

/* line 358, ../../scss/configurator/mobile-configurator.scss */
.device-carousel-card.disabled button, .device-carousel-card.disabled a.button {
  background: #babcbe !important; }

/* line 363, ../../scss/configurator/mobile-configurator.scss */
.detail-table {
  margin-top: -15px;
  width: 100%; }
  /* line 366, ../../scss/configurator/mobile-configurator.scss */
  .detail-table tr {
    border-top: 1px solid #babcbe; }
    /* line 368, ../../scss/configurator/mobile-configurator.scss */
    .detail-table tr:first-child {
      border-top: none; }
    /* line 371, ../../scss/configurator/mobile-configurator.scss */
    .detail-table tr:last-child {
      border-bottom: 1px solid #babcbe; }
  /* line 375, ../../scss/configurator/mobile-configurator.scss */
  .detail-table .left {
    text-align: left;
    vertical-align: middle;
    padding-right: 12px;
    padding-left: 20px; }
    /* line 381, ../../scss/configurator/mobile-configurator.scss */
    .detail-table .left img {
      height: 32px; }
  /* line 385, ../../scss/configurator/mobile-configurator.scss */
  .detail-table .right {
    text-align: left;
    vertical-align: top;
    padding: 8px 0 6px; }

/* line 392, ../../scss/configurator/mobile-configurator.scss */
.device-carousel-card {
  position: relative; }
  /* line 395, ../../scss/configurator/mobile-configurator.scss */
  .device-carousel-card .special-offer-banner {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45px;
    right: 13px;
    background: url("//spark.co.nz/content/dam/telecomcms/responsive/images/shop/mobile/plans-pricing/yellow-box.png") no-repeat;
    color: #4f438a;
    line-height: 1.2;
    padding: 5px;
    background-size: 60px auto; }
    /* line 407, ../../scss/configurator/mobile-configurator.scss */
    .device-carousel-card .special-offer-banner h5 {
      font-size: 11px;
      font-family: AvenirNextLTPro-Demi, Calibri;
      margin: 6px auto;
      line-height: 1.3; }
  /* line 417, ../../scss/configurator/mobile-configurator.scss */
  .device-carousel-card .service-info .service-price {
    height: 140px !important; }
  /* line 421, ../../scss/configurator/mobile-configurator.scss */
  .device-carousel-card .service-info .yellow-note {
    background: none repeat scroll 0 0 #fff200;
    margin-top: -25px;
    position: relative; }
    /* line 426, ../../scss/configurator/mobile-configurator.scss */
    .device-carousel-card .service-info .yellow-note h5 {
      font-size: 11px;
      font-family: AvenirNextLTPro-Demi, Calibri;
      margin: 5px auto; }
  /* line 433, ../../scss/configurator/mobile-configurator.scss */
  .device-carousel-card .service-info .yellow-note .arrow-down {
    border-top: 10px solid #fff200 !important; }
  @media (max-width: 639px) {
    /* line 438, ../../scss/configurator/mobile-configurator.scss */
    .device-carousel-card .service-info .special-offer-banner {
      top: 75px; }
    /* line 442, ../../scss/configurator/mobile-configurator.scss */
    .device-carousel-card .service-info .service-info {
      margin-top: 50px; } }

/* line 453, ../../scss/configurator/mobile-configurator.scss */
img.flag {
  height: 26px;
  width: auto;
  display: inline-block;
  margin-right: 5px;
  margin-top: -5px; }

/* line 463, ../../scss/configurator/mobile-configurator.scss */
.dropdown .prefix {
  width: 100px;
  float: left; }
/* line 467, ../../scss/configurator/mobile-configurator.scss */
.dropdown .number {
  width: 200px;
  float: left; }
/* line 471, ../../scss/configurator/mobile-configurator.scss */
.dropdown .small {
  font-size: 14px; }
/* line 474, ../../scss/configurator/mobile-configurator.scss */
.dropdown button {
  background: white;
  border: 1px solid #13a4de;
  color: #13a4de !important;
  font-size: 14px;
  height: 34px;
  line-height: 20px;
  padding: 4px 8px;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  width: 100%;
  min-width: 30px !important;
  position: relative;
  /* for pie_IE678.js*/ }
  /* line 489, ../../scss/configurator/mobile-configurator.scss */
  .dropdown button:after {
    font-family: fontello;
    font-size: 20px;
    content: '\e828';
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    width: 20px;
    height: 20px; }
  /* line 501, ../../scss/configurator/mobile-configurator.scss */
  .dropdown button.selected {
    background: #13a4de;
    color: white !important; }
  /* line 507, ../../scss/configurator/mobile-configurator.scss */
  .dropdown button .caret {
    color: #13a4de;
    border: 0;
    height: 18px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 20px; }
/* line 518, ../../scss/configurator/mobile-configurator.scss */
.dropdown .dropdown-menu {
  background: #FFF;
  border: 1px solid #13a4de;
  border-top: 0;
  color: #13a4de !important;
  box-shadow: none;
  float: none;
  font-size: 12px;
  left: 0;
  position: absolute;
  right: auto;
  top: 25px;
  width: 100%;
  padding: 0; }
  /* line 532, ../../scss/configurator/mobile-configurator.scss */
  .dropdown .dropdown-menu li {
    margin: 0;
    cursor: pointer; }
    /* line 535, ../../scss/configurator/mobile-configurator.scss */
    .dropdown .dropdown-menu li a {
      font-size: 14px;
      padding: 8px;
      color: #4cb8e3; }
      @media screen and (min-width: 1025px) {
        /* line 541, ../../scss/configurator/mobile-configurator.scss */
        .dropdown .dropdown-menu li a:hover {
          background: #13a4de;
          border-radius: 0;
          color: white; } }
/* line 550, ../../scss/configurator/mobile-configurator.scss */
.dropdown.short {
  min-width: 95px; }
  /* line 552, ../../scss/configurator/mobile-configurator.scss */
  .dropdown.short .dropdown-menu {
    min-width: 95px; }
/* line 558, ../../scss/configurator/mobile-configurator.scss */
.dropdown.error button {
  color: #d50032 !important;
  border: 1px solid #d50032; }
/* line 562, ../../scss/configurator/mobile-configurator.scss */
.dropdown.error .dropdown-menu {
  border: 1px solid #d50032;
  border-top: 0; }
  /* line 566, ../../scss/configurator/mobile-configurator.scss */
  .dropdown.error .dropdown-menu li a {
    color: #d50032 !important; }
    /* line 569, ../../scss/configurator/mobile-configurator.scss */
    .dropdown.error .dropdown-menu li a:hover {
      color: white !important;
      background: #d50032; }

/* line 579, ../../scss/configurator/mobile-configurator.scss */
#myModal {
  z-index: 10000; }

/* line 582, ../../scss/configurator/mobile-configurator.scss */
.modal-content .title {
  width: 100%; }

/* line 585, ../../scss/configurator/mobile-configurator.scss */
.modal-dialog {
  width: 940px; }

/* line 588, ../../scss/configurator/mobile-configurator.scss */
.modal-dialog-new {
  width: 640px; }

/* line 591, ../../scss/configurator/mobile-configurator.scss */
.custom-border {
  border-bottom: 1px solid #babcbe;
  padding-bottom: 20px; }

/* line 595, ../../scss/configurator/mobile-configurator.scss */
.link-bg {
  background-color: #f0d7bd;
  padding: 0 5px;
  white-space: nowrap; }

/* line 601, ../../scss/configurator/mobile-configurator.scss */
button.disabled, .button.disabled, .btn.disabled {
  background: #babcbe !important;
  color: #ebebec !important;
  border-color: #babcbe !important;
  cursor: not-allowed; }

/* line 607, ../../scss/configurator/mobile-configurator.scss */
.service-price {
  background: #e3e3e3 !important; }

/* line 610, ../../scss/configurator/mobile-configurator.scss */
.carousel.device.price.white-card .service-info .service-price .number, .carousel.device.price.white-card .service-info .service-price .txt {
  color: #000; }

/* line 613, ../../scss/configurator/mobile-configurator.scss */
.carousel.device.price.white-card .service-info .arrow-down {
  border-top: 10px solid #e3e3e3; }

/* line 616, ../../scss/configurator/mobile-configurator.scss */
.thanks-offer, .wifi-offer, .spotify-offer {
  margin-top: 15px; }

/* line 619, ../../scss/configurator/mobile-configurator.scss */
.note-box {
  font-size: 13px; }

/* line 622, ../../scss/configurator/mobile-configurator.scss */
.custom-button {
  width: 251px !important; }

/* line 625, ../../scss/configurator/mobile-configurator.scss */
.carousel.device .yellow-note h5 {
  padding: 0px;
  color: #414042; }

/*# sourceMappingURL=mobile-configurator.css.map */
