@font-face {
    font-family: 'TelecomNationalExtrabold';
    src: url('telecomnational-extrabold.eot');
    src: url('telecomnational-extrabold.eot') format('embedded-opentype'),
         url('telecomnational-extrabold.woff') format('woff'),
         url('telecomnational-extrabold.ttf') format('truetype'),
         url('telecomnational-extrabold.svg#TelecomNationalExtrabold') format('svg');
}
