<style>
	body{
		font-family: Calibri, Arial;
		color: #666;
	}
</style>

<h1>Link to all the pages</h1>



<!-- <h1>Mini cart</h1>
<ul>
	<li><a href="./mini-cart/j2/mini-cart-1-5.php">Page-1-5</a></li>
	<li><a href="./mini-cart/j2/mini-cart-6.php">Page-6</a></li>
	<li><a href="./mini-cart/j2/mini-cart-7.php">Page-7</a></li>
	<li><a href="./mini-cart/j2/mini-cart-8.php">Page-8</a></li>
	<li><a href="./mini-cart/j2/mini-cart-9.php">Page-9</a></li>
</ul> -->

<h1>Device details</h1>
<ul>
	<li><a href="./device-details/j2/index.php">Device details</a></li>
</ul>


<h1>Configurator</h1>
<ul>
	
	<li><a href="./configurator/j2/j2-plan-section-0A.php">j2-plan-section-0A</a></li>
	<li><a href="./configurator/j2/j2-plan-section-1A.php">j2-plan-section-1A</a></li>
	
</ul>


<h1>Your cart</h1>
<ul>
	<li><a href="./configurator/j2/j2-your-cart-page-1.php">Your cart 1</a></li>
		<li><a href="./configurator/j2/j2-your-cart-page-2.php">Your cart 2</a></li>
</ul>

<h1>Checkout</h1>
<ul>
	<li><a href="./configurator/j2/j2-checkout-page-1.php">j2-checkout-page-1</a></li>
	<li><a href="./configurator/j2/j2-checkout-thankyou-page.php">j2 Checkout Thankyou Page</a></li>
</ul>


<h1>Email</h1>

<ul>
	<li><a href="./email/j2/premailed.html">eDM</a></li>
</ul>
