<style>
	body{
		font-family: Calibri, Arial;
		color: #666;
	}
</style>

<h1>Link to all the pages</h1>



<h1>Accessory gallery</h1>
<ul>
	<li><a href="./accessories/gallery-page/j5/gallery-1.php">Page-1</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-2.php">Page-2</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-3.php">Page-3</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-4.php">Page-4</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-5.php">Page-5</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-6.php">Page-6</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-7.php">Page-7</a></li>
</ul>

<h1>Accessory detail</h1>
<ul>
	<li><a href="./accessories/details-page/j5/details-1.php">Page-1</a></li>
	<li><a href="./accessories/details-page/j5/details-2.php">Page-2</a></li>
</ul>



<h1>Configurator</h1>
<ul>
	
	<li><a href="./configurator/j5/j5-device-section-5A.php">j5-device-section-5A</a></li>
	<!-- <li><a href="./configurator/j5/j2-plan-section-1A.php">j2-plan-section-1A</a></li> -->
	
</ul>


<!-- <h1>Your cart</h1>
<ul>
	<li><a href="./configurator/j5/j3-your-cart-page-1.php">j5-your-cart-page-1</a></li>
</ul> -->

<h1>Checkout</h1>
<ul>
	<li><a href="./configurator/j5/j5-checkout-page.php">j5-checkout-page</a></li>
</ul>


<h1>Email</h1>

<ul>
	<li><a href="./email/j5/premailed.html">eDM</a></li>
</ul>
