<style>
	body{
		font-family: Calibri, Arial;
		color: #666;
	}
</style>

<h1>Link to all the pages</h1>



<!-- <h1>Mini cart</h1>
<ul>
	<li><a href="./mini-cart/j3/mini-cart-1-5.php">Page-1-5</a></li>
	<li><a href="./mini-cart/j3/mini-cart-6.php">Page-6</a></li>
	<li><a href="./mini-cart/j3/mini-cart-7.php">Page-7</a></li>
	<li><a href="./mini-cart/j3/mini-cart-8.php">Page-8</a></li>
	<li><a href="./mini-cart/j3/mini-cart-9.php">Page-9</a></li>
</ul> -->

<!-- <h1>Device details</h1>
<ul>
	<li><a href="./device-details/j3/index.php">Device details</a></li>
</ul>
 -->

<h1>Configurator</h1>
<ul>
	
	<li><a href="./configurator/j3/j3-device-only-configurator-page.php">j3-device-only-configurator-page</a></li>
	<!-- <li><a href="./configurator/j3/j2-plan-section-1A.php">j2-plan-section-1A</a></li> -->
	
</ul>


<h1>Your cart</h1>
<ul>
	<li><a href="./configurator/j3/j3-your-cart-page-1.php">j3-your-cart-page-1</a></li>
</ul>

<h1>Checkout</h1>
<ul>
	<li><a href="./configurator/j3/j3-checkout-page.php">j3-checkout-page</a></li>
</ul>


<h1>Email</h1>

<ul>
	<li><a href="./email/j3/premailed.html">eDM</a></li>
</ul>
