<style>
	body{
		font-family: Calibri, Arial;
		color: #666;
	}
</style>

<h1>Link to all the pages</h1>


<!-- 
<h1>Accessory gallery</h1>
<ul>
	<li><a href="./accessories/gallery-page/j5/gallery-1.php">Page-1</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-2.php">Page-2</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-3.php">Page-3</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-4.php">Page-4</a></li>
	<li><a href="./accessories/gallery-page/j5/gallery-5.php">Page-5</a></li>
</ul>
 -->
<!-- <h1>Accessory detail</h1>
<ul>
	<li><a href="./accessories/details-page/j5/details-1.php">Page-1</a></li>
	<li><a href="./accessories/details-page/j5/details-2.php">Page-2</a></li>
</ul>
 -->


<h1>Configurator</h1>
<ul>
	
	<li><a href="./configurator/j6/j6-configurator-page-details-1A.php">j6-configurator-page-details-1A</a></li>
	<li><a href="./configurator/j6/j6-configurator-page-details-1B.php">j6-configurator-page-details-1B</a></li>
	<li><a href="./configurator/j6/j6-configurator-page-details-1C.php">j6-configurator-page-details-1C</a></li>
	<li><a href="./configurator/j6/j6-configurator-page-details-1D.php">j6-configurator-page-details-1D</a></li>
	<li><a href="./configurator/j6/j6-configurator-page-details-2A.php">j6-configurator-page-details-2A</a></li>
	<li><a href="./configurator/j6/j6-configurator-page-details-2B.php">j6-configurator-page-details-2B</a></li>
	<li><a href="./configurator/j6/j6-configurator-page-details-2C.php">j6-configurator-page-details-2C</a></li>


	
</ul>

<h1>Plan</h1>
<ul>
	<li><a href="./configurator/j6/j6-plan-section-1A.php">j6-plan-section-1A</a></li>
</ul>



<h1>Your cart</h1>
<ul>
	<li><a href="./configurator/j6/j6-your-cart-page-1.php">j6-your-cart-page-1</a></li>
	<li><a href="./configurator/j6/j6-your-cart-page-2.php">j6-your-cart-page-2</a></li>
	<li><a href="./configurator/j6/j6-your-cart-page-3.php">j6-your-cart-page-3</a></li>
	<li><a href="./configurator/j6/j6-your-cart-page-4.php">j6-your-cart-page-4</a></li>
	<li><a href="./configurator/j6/j6-your-cart-page-j3-change-plan.php">j6-your-cart-page-j3-change-plan</a></li>
</ul>

<h1>Checkout</h1>
<ul>
	<li><a href="./configurator/j6/j6-checkout-page-j2-change-plan.php">j6-checkout-page-j2-change-plan</a></li>
</ul>

<h1>Confirmation</h1>
<ul>
	<li><a href="./configurator/j6/j6-confirmation-page.php">j6-confirmation-page</a></li>
	<li><a href="./configurator/j6/j6-confirmation-page-j3-change-plan.php">j6-confirmation-page-j3-change-plan</a></li>
</ul>

<h1>Email</h1>

<ul>
	<li><a href="./email/j6/premailed.html">eDM</a></li>
	<li><a href="./email/j6/premailed_j2.html">eDM J2 Change Plan</a></li>
	<li><a href="./email/j6/premailed_j3.html">eDM J3 Change Plan</a></li>
</ul>
