<style>
	body{
		font-family: Calibri, Arial;
		color: #666;
	}
</style>

<h1>Link to all the pages</h1>



<h1>Mini cart</h1>
<ul>
	<li><a href="./mini-cart/j1/mini-cart-1-5.php">Page-1-5</a></li>
	<li><a href="./mini-cart/j1/mini-cart-6.php">Page-6</a></li>
	<li><a href="./mini-cart/j1/mini-cart-7.php">Page-7</a></li>
	<li><a href="./mini-cart/j1/mini-cart-8.php">Page-8</a></li>
	<li><a href="./mini-cart/j1/mini-cart-9.php">Page-9</a></li>
</ul>

<h1>Device details</h1>
<ul>
	<li><a href="./device-details/j1/index.php">Device details</a></li>
</ul>


<h1>Configurator</h1>

<ul>
	<li><a href="./configurator/j1/j1-device-section-0A.php">j1-device-section-0A</a></li>
	<li><a href="./configurator/j1/j1-device-section-0B.php">j1-device-section-0B</a></li>
	<li><a href="./configurator/j1/j1-device-section-1A.php">j1-device-section-1A</a></li>
	<li><a href="./configurator/j1/j1-device-section-1B.php">j1-device-section-1B</a></li>
	<li><a href="./configurator/j1/j1-device-section-1C.php">j1-device-section-1C</a></li>
	<li><a href="./configurator/j1/j1-device-section-1D.php">j1-device-section-1D</a></li>
	<li><a href="./configurator/j1/j1-device-section-1E.php">j1-device-section-1E</a></li>
	<li><a href="./configurator/j1/j1-device-section-1F.php">j1-device-section-1F</a></li>
	<li><a href="./configurator/j1/j1-device-section-1G.php">j1-device-section-1G</a></li>
	<li><a href="./configurator/j1/j1-device-section-2A.php">j1-device-section-2A</a></li>
	<li><a href="./configurator/j1/j1-device-section-2B.php">j1-device-section-2B</a></li>
	<li><a href="./configurator/j1/j1-device-section-2C.php">j1-device-section-2C</a></li>
	<li><a href="./configurator/j1/j1-device-section-2D.php">j1-device-section-2D</a></li>
	<li><a href="./configurator/j1/j1-device-section-3A.php">j1-device-section-3A</a></li>
	<li><a href="./configurator/j1/j1-device-section-3B.php">j1-device-section-3B</a></li>
	<li><a href="./configurator/j1/j1-device-section-3C.php">j1-device-section-3C</a></li>
	<li><a href="./configurator/j1/j1-device-section-4A.php">j1-device-section-4A</a></li>
	<li><a href="./configurator/j1/j1-device-section-4B.php">j1-device-section-4B</a></li>
	<li><a href="./configurator/j1/j1-device-section-4C.php">j1-device-section-4C</a></li>
	<li><a href="./configurator/j1/j1-device-section-4D.php">j1-device-section-4D</a></li>
	<li><a href="./configurator/j1/j1-device-section-5A.php">j1-device-section-5A</a></li>
	<li><a href="./configurator/j1/j1-device-section-5B.php">j1-device-section-5B</a></li>
	<li><a href="./configurator/j1/j1-device-section-5C.php">j1-device-section-5C</a></li>
	<li><a href="./configurator/j1/j1-device-section-6A.php">j1-device-section-6A</a></li>
	<li><a href="./configurator/j1/j1-device-section-6B.php">j1-device-section-6B</a></li>
	<li><a href="./configurator/j1/j1-device-section-6C.php">j1-device-section-6C</a></li>
	<li><a href="./configurator/j1/j1-device-section-6D.php">j1-device-section-6D</a></li>
	<li><a href="./configurator/j1/j1-device-section-6E.php">j1-device-section-6E</a></li>
	<li><a href="./configurator/j1/j1-device-section-6F.php">j1-device-section-6F</a></li>
</ul>


<h1>Your cart</h1>
<ul>
	<li><a href="./configurator/j1/j1-your-cart-page-1.php">Your cart</a></li>
</ul>

<h1>Checkout</h1>
<ul>
	<li><a href="./configurator/j1/j1-checkout-page-1.php">Checkout</a></li>
</ul>


<h1>Email</h1>

<ul>
	<li><a href="./email/j1/premailed.html">eDM</a></li>
</ul>
