<style>
	body{
		font-family: Calibri, Arial;
		color: #666;
	}
</style>

<h1>Link to all the pages</h1>


<h1>Configurator</h1>
<ul>
	
	<li><a href="./configurator/j7/j7-configurator-page-bundled-extras.php">j7-configurator-page-bundled-extras</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-data-extras-free-gift-close.php">j7-configurator-page-data-extras-free-gift-close</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-data-extras-free-gift.php">j7-configurator-page-data-extras-free-gift</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-data-extras.php">j7-configurator-page-data-extras</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-favourites_1number.php">j7-configurator-page-favourites_1number</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-favourites_3numbers.php">j7-configurator-page-favourites_3numbers</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-favourites-added.php">j7-configurator-page-favourites-added</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-favourites-error.php">j7-configurator-page-favourites-error</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-international-extras.php">j7-configurator-page-international-extras</a></li>
	<li><a href="./configurator/j7/j7-configurator-page-modal.php">j7-configurator-page-modal </a></li>
	<li><a href="./configurator/j7/j7-configurator-page-not-selected.php">j7-configurator-page-not-selected</a></li>

	<li><a href="./configurator/j7/j7-configurator-page-voice-extras.php">j7-configurator-page-voice-extras </a></li>
	<li><a href="./configurator/j7/j7-configurator-page-voice-extras-added.php">j7-configurator-page-voice-extras-added </a></li>
	<li><a href="./configurator/j7/j7-configurator-page-voice-extras-message.php">j7-configurator-page-voice-extras-message </a></li>


</ul>


<h1>Your cart</h1>
<ul>
	<li><a href="./configurator/j7/j7-your-cart-page-buy-extras.php">j7-your-cart-page-buy-extras</a></li>
</ul>

<h1>Checkout</h1>
<ul>
	<li><a href="./configurator/j7/j7-checkout-page-buy-extras.php">j7-checkout-page-buy-extras</a></li>
</ul>

<h1>Email</h1>

<ul>
	<li><a href="./email/j7/premailed.html">eDM</a></li>
</ul>
