
@import "_override_resp.scss";


// Color Variables ///////////////////////////////////
$light_blue: #72d0f4;
$blue: #13a4de;
$dark_blue: #0088cc;
$green: #00af62;
$dark_green: #00af62;
$red: #d50032;
$pink: #e1058c;
$dark_pink: #bb0370;
$white: #ffffff;
$light_grey: #ebebec;
$off_white: #f7f7f7;
$divider_grey: #babcbe;
$medium_grey: #666666;
$dark_grey: #414042;

/** IE9 */
.no-flexbox .circle-image-bkgd {background: #d2d3d4 !important;} /** For IE9 */
.no-flexbox .circle-image-bkgd.white.transparent {background: rgba(255,255,255,0.1) !important;} /** For IE9 */

// header styles ///////////////////////////////////
#header {background-color:white;}
#header .secondnavigationbar {
min-height:150px;}
#header #top-logo img {margin-top:18px;}
// #desktop-header #header-nav-wrap {width:980px;}

// helper classes //////////////////////////////////
.no-margin {margin:0;}
.no-margin-top {margin-top:0;}
.no-padding {padding:0;}
.margin-top {margin-top:15px !important;}
.margin-bottom {margin-bottom:15px !important;}
.right-side-label {margin-top:7px; display:block;}
.login-text {text-align: right; margin-top: 100px; }
.force-wide-100 {width:100%;}
.width-85 {width:85% !important;}
.no-wrap { white-space: nowrap; }
.hr-top {margin-top:0;}
.override-info-box {display:block !important; color:$dark_grey !important;}
.show-boundaries {overflow:visible !important;}
.scrollable-menu {height: auto;max-height: 200px;overflow-x: hidden;}
// end of helper classes

// specific to configurator - new customer page ///

.page {
  &.configurator-new-customer {
    .home-wiring-panel-checkbox-and-text {
      float:left;
      margin-left:8px;
      width:80%;
    }    
    .block-var-1 {
      max-width:100%;
      padding-bottom:70px;
    }
    .image-1.hero-card .fg-image img {
      width:647px !important;height:249px !important;}
    .image-1 .inner-card {height:249px;}
  }
}

.page {
  .checkout-step-1 {
    .landline-choose {
      .row {
        h5 {
          margin-left: 60px;
        }
        .center {
          text-align: center;
          vertical-align: top;
        }
      }
      .side-by-side-elements {
        display:inline-block;
        height:34px;
        overflow:hidden;
        vertical-align:top;
      }    
      .side-by-side-input {
        -webkit-appearance:none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display:block;
        margin:0;
        padding:5px 10px;
        height:34px;
      }
      a.hori-tight-btn {
        &.disabled {
          background-color: $divider_grey;
        }
        div {
          text-align:center;
          padding-top:1px;
        }
        width:220px;
        height: 34px;
        background-color: $blue;
        color: white;
        text-transform: uppercase;
        display: inline-block;
        font-size: 18px;
      }
      a.hori-tight-btn.extended {
        height:34px;
        line-height:35px;
        display:block;
        text-align:center;
      }
      input[name="phone"] {
        &.disabled {
          background-color: #eeeeee;
          color: #414042;
        }
        width: 250px;
      }
    }
    label.full-width {width: 100%;}
    .radio-extra {margin: 15px 0 15px 40px;}
    button.full-width {width: 100%;}
    button.magenta {background: $pink;}
    .grey {color: #414042;}
    .card.secondary .table {background: #fff;color: $dark_grey;}
    .table td:first-child {width: 25%;}
    .table tr:first-child td {border-top: 0;}
    .inner-wrapper.tight label, .inner-card.tight label {margin-bottom: 0;}   
    textarea[name="address"] {padding: 9px 15px;height: 80px;} 
  }
}


// specific to checkout - step 3 //////////////////

.page {
  .checkout-step-3 {
    .dropdown.employment {
      max-width: 330px;
    }

    // Light grey box inside normal grey card, with input columns 
    .card.secondary .info-box.light-grey .col-xs-3 {
      width: 24%;
    }

    textarea[name="address"] {
      padding: 9px 15px;
      height: 80px;
    }

    overflow: visible !important;
  }
}


// specific to checkout - step 4 //////////////////

.page {
  .checkout-step-4 {
    .button-section.quad-btns button.blue {
      width: inherit;
    }
  }
}


// specific to checkout - thank you ///////////////
.page {
  &.checkout-thankyou {
    .image-1.hero-card .fg-image img {
      width:940px !important;height:400px !important;}
    .image-1 .inner-card {height:400px;}
    .image-2.hero-card .fg-image img {
      width:940px !important;height:400px !important;}
    .image-2 .inner-card {height:400px;}
  }
}

    
// fibre.page namespace ///////////////////////////

.page {

  // default page properties
  overflow:visible;
  color:$dark_grey;

  // top progress bar
  .top-progress-bar {
    .previous {
      .progress-bar-label {
        h4 {
          color: $blue;
  }}}}

  // text styles
  .green-txt {color: $green !important;}
  .white-text { color: $white; }
  .grey-text_c {color:#414042;font-weight:bold;font-size:13px;text-transform:none;
    font-family: AvenirNextLTPro-Regular, Calibri, Arial, sans-serif}

  .col-h3 h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 12px; padding-bottom: 8px;
  }
  .col-h4 h4 {
    text-transform: uppercase;
    border-bottom: 1px solid #cccbcb;
    margin-bottom: 12px; padding-bottom: 8px;
  }

  .sub-text {
    a {
      margin: 0;
      padding: 0;
      background: none !important;
    }
    font-size: 12px;
  }

  // colours
  .grey-bkgd {background-color: $divider_grey !important;}
  .grey-border {border:1px solid $divider_grey;}

  // container fluid
  .container-fluid {
    margin-top:0;width:100%;
    min-width:940px;padding:0;
    .set-up-header {margin-top:9px;}
    .inner-container {
      width:940px;margin:0 auto;
    }
  }

  .ico-card-img div {
    width:100px;
    height:100px;
    margin:0 auto;
  }

  // card
  .card {
    .inner-container {
      h2 {color:$dark_grey !important;}
      width:940px;margin:0 auto;
    }
    // Fix content wrap with long headings
    .inner-card h2 {
      padding-right: 0; 
    }
    .inner-card h4.wth-underline {
      border-bottom: 1px solid #babcbe;
      margin-bottom: 3px;
      padding-bottom: 7px;
    }
    .info-box {
      // A light grey info box inside a standard grey card
      &.light-grey { 
        background-color: $off_white;
        color: $dark_grey;
      }
      // Standard grey info box withing white container
      &.internal-grey {
        h5 {color: $white;}
        background-color: $light_grey;
        color: $white;
      }
      &.dark-grey {
        background-color: $dark_grey;
        color: $white;
      }
    }
  }

  .card{
    &.secondary {
      .info-box {
        &.internal-grey {
          background-color: $divider_grey;
        }
      }
      .table.on-light-grey {
        background: $off_white;
        margin-top: 7px;
        tr:first-child td {
          border: 0;
        }
        td {padding: 12px 0 12px 20px;}
        td:first-child {width: 15%;}
      }
    }
  }
  .card-title {font-size:23px;}
  .card.table {div {color:$dark_grey;}}
  .table-row.gray {background: #eee;}
  .table-row.yellow {background: #fff201;}
  .table-row.purple {background: #51448b;color:white;}
  .table-row-divider {border-bottom:1px solid white;}
  .table-row {padding:8px 12px;}

  .simple-white-grid {
    .td-first {width:200px;}
    td {
      border:0px; // reset
      border-bottom:1px solid #eeeeee;
      background-color:white;
      padding:15px 12px 15px 12px
    }
  }

  .simple-white-grid.extend {
    .td-first {width:227px;}
  }

  #sidebar-affix {
    overflow: hidden;
    .content-block-header {
      z-index: 100;
    }
  }

  // panel styles
  .panel-heading.extend .panel-toggle {
    background:transparent;
    h5 {
      width: 80%;
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;
    }
    &:before {
      font-size: 8px;
      padding: 7px 0 7px 0;
    }
  }
  .panel.extend {
    box-shadow: none;
    -webkit-box-shadow: none;

    .panel-heading {
      border-bottom: 1px solid $divider_grey;
    }
  }
  .panel-group {
    margin-bottom: 0;
    .panel.extend + .panel.extend {
      margin-top: 0;
      border: 0;
    }
  }
  .panel-body.table {
    padding: 0;
    .table-card.white-table-card {
      padding: 8px 0 0 0;
    }
  }

  .panel-link-right-spacing {
    margin-right:15px;
  }

  // blue button under
  .blue-button-under-card {
    padding:20px 10px;
    .side {
      padding-bottom: 13px;
      button {
        margin: 13px 0 0 0;
      }
    }
  }

  // Button section with 4 buttons
  .button-section {
    &.quad-btns {
      .blue_bg {
        text-align: center;
        padding: 20px 0 !important;
      }
      button.blue {width: 210px;}
      .row {margin: 0 10px;}
    }
  }

  // accordion //////////////////////////
  .accord-wrapper {
    .panel-toggle {
      padding:5px 0px;
      color:$dark_grey !important;
    }
    .panel-toggle:hover {color:inherit;}
    .add-to-cart {margin-bottom:20px;}
  }
  .accord-container {
    padding: 3%;background-color: white;}
  .accord-menu {
    padding: 6px 0;float: right;width: 92%;}
  .accord-col-1 {float: left;width: 61%;}
  .accord-col-2 {
    float: left;width: 39%;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
    padding-right:7px;
    color:inherit;
  }
  .accord-right-spacer {padding-right:7px;}

  // Checkout accordian
  .checkout-accordian {
    .panel {
      background: none;
      border: 0;
      box-shadow: none;
    }
    .panel-heading {
      .panel-toggle:before {
        right: -920px;
        font-size: 10px;
        padding: 7px 0;
        background: none;
      }
      .panel-toggle h4 {
        padding: 7px 0;
        width: 50%;
        color: $dark_grey;
        border: 0;
      }
      .panel-toggle:hover h4 {color: $dark_grey;}
      background: none;
      border-bottom: 1px solid $divider_grey !important;
      border-image: none;
      margin-bottom: 7px;
    }
    .panel-heading:hover {background: none;}

    table {
      &.grey {
        background: #dedede;
      }
      td {
        h5 { padding-right: 9px; }

        padding: 5px !important;
        border-top: 1px solid $light_grey !important;
      }
      td:first-child { border: 0; }
      p {padding: 9px;margin: 0;}
      .col1 { width: 60%; }
      .col2 { width: 20%; }
      .col3 { width: 20%; text-align: right; }
    }
  }
  // End checkout accordian

  // purple line below summary floater
  .content-block-header.with-line {
    border-bottom: 16px solid $dark_pink;
    margin-bottom: 0;
  }

  .dropdown button:after {right:0;font-size:25px;}

  // forms ///////////////////////////////
  input[type="password"] {
  -webkit-appearance: none; -moz-appearance: none; appearance: none;  
  color:$blue;background:#fff;border: 1px solid $blue;font-size:14px;
  height:34px;padding:5px 10px;box-sizing:border-box;width:100%;}
  input[type="text"].error {
    color:#e34945;
  }
  .blue-button-float-right.grey-bkgd {border:0px;}
  .blue-button-float-right {
    float:right;width:28%;height:34px;
    background-color:$blue;color:white;
    border:1px solid $blue;border-left:0px;
    .inner-blue-button {color:#fff;text-align:center;padding-top:7px;text-transform:uppercase;}}
  .blue-button-float-right:hover {background-color:$light_blue;}
  .form-control-with-blue-button {width:72%;float:right}
      .form-control {
      &.active {
      border: 0;
      background-color: $blue;
      color: $white;
  }}
  .checkbox-top {float:left;background-position:0px -7px}
  input[type="checkbox"].normal:checked + label span.checkbox-top {
    background-position: -48px -7px;
  } 
  .checkbox-double-lines {float:left;width:90%;}
  .radio-top {background-position:-90px -8px;vertical-align:top}
  input[type="radio"].checked + label span, input[type="radio"]:checked + label span.radio-top {
    background-position:-128px -8px;
  }

  input, input[type="text"], input[type="password"] {
    border-radius: 0;
  }


  .form-group {
    .phone {
      .dropdown {
        width: 28%;
        margin-right: 2%;
        display: inline-block;
        min-width: 28%;
      }
      input[type="text"] {
        width: 69%;
        display: inline-block;
      }

      vertical-align: top;
    }
    .checkbox-top {float:left;background-position:0px -7px}   
    input[type="checkbox"].normal:checked + label span.checkbox-top {
      background-position: -48px -7px;
    } 
    .checkbox-double-lines {float:left;width:90%;}
    .radio-top {background-position:-90px -8px;vertical-align:top}
    input[type="radio"].checked + label span, input[type="radio"]:checked + label span.radio-top {
      background-position:-128px -8px;
    }
    &.tight label { // Used to tighten up radio button lists 
      margin-bottom: 0;
    }
  }

  textarea {
    &.form-control {
      resize: none;
  } }

  // Triple drop down rows - for things like dob, expiry dates etc
  // Double column drop box for sitting above or below triple drop rows, but 
  // needs to be the same width as 2 of the triple drop columns
  .form-group {
    .triple-drop {
      .dropdown {
        display: inline-block;
        width: 32%;
        margin-left: 2%;
      }
      .dropdown:first-child {
        margin-left: 0;
        width: 30%;
      }
      .dropdown-menu {
        min-width: 25%;
      }
    }
    .dropdown {
      &.double-col {
        width: 65%;
      }
    }
  }

  // footer //////////////////////////////
  #footer {
    .bottom {
      background-color:white;margin:0;
      .wrap {
          margin:10px auto 50px auto;
          width:940px;color:$medium_grey;
        ul {
          padding-left:0 !important;
        }
        .copyright {
          margin-top:0;
          margin-right:0 !important;
          color:$divider_grey;
        }
      }
    }
    // #footer_channel {max-width:940px;}
  }

  // cart summary ////////////////////////
  .cart-summary-row {
    border-bottom:1px solid $divider_grey;
    margin-bottom:20px;
  }
  .cart-summary-row.top {border:0;border-top:1px solid $divider_grey;margin:0;margin-top:15px;}
  .cart-summary-row.bottom {border:0;margin:0;}
  .cart-summary-text {
    font-size:24px;
    font-family: AvenirNextLTPro-Bold, Calibri, Arial, sans-serif;
    color:$dark_grey;
  }
  .total-container {
    div, strong{
      color: $dark_grey;
      font-size: 14px;
    }      
    h3 {
      text-transform: uppercase;
      border-bottom: 1px solid #cccbcb;
      margin-bottom: 12px;
      padding-bottom: 8px;
    }
  }
  .product-image-float {position:absolute; z-index:1; width:180px;
    border-radius: 50%; left:50px; text-align:center;}
  .product-image-float-2 {position:absolute; z-index:1; width:180px;
    border-radius: 50%; text-align:center;}
  .product-image-float.yellow {position:absolute; z-index:1; width:180px;
  border-radius: 50%; left:50px; top:-15px; text-align:center;}
  .circle-image-bkgd {
    -moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;
    position:absolute; z-index:1; width:180px; height:180px; left:50px;
    background: #bcbec0; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #bcbec0 0%, #eaeaeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#bcbec0), color-stop(100%,#eaeaeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #bcbec0 0%,#eaeaeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #bcbec0 0%,#eaeaeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #bcbec0 0%,#eaeaeb 100%); /* IE10+ */
    background: linear-gradient(45deg,  #bcbec0 0%,#eaeaeb 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbec0', endColorstr='#eaeaeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .circle-image-bkgd.white.transparent {background: rgba(255, 255, 255, 0.1); }
  .purple-box-grad div {color:white !important;}
  .purple-box-grad {
    background: #50438a; /* Old browsers */
    background: -moz-linear-gradient(top,  #50438a 0%, #7d549b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50438a), color-stop(100%,#7d549b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #50438a 0%,#7d549b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #50438a 0%,#7d549b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #50438a 0%,#7d549b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #50438a 0%,#7d549b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50438a', endColorstr='#7d549b',GradientType=0 ); /* IE6-9 */
  }
  .circle-image {text-align:center;height:100%;img {vertical-align:middle;}}
  .helper {display: inline-block;height: 100%;vertical-align: middle;}

} // end of page

.arrow-left {
  &.big{
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid white;
  }
  &.left-offset {
    margin-left: -10px;
    margin-top: 0;
    position: absolute;
  }
  &.top {
    margin-top: 7px;
  }
}

// INFO BOX ADDITIONS * * * * *
.info-box.green-box {
  padding: 12px 15px 12px;
  h3 {
    color:white;
    padding:0;
    margin:0;
    line-height:auto;
  }
}
.info-box.white.inactive {
  background-color:rgba(255,255,255,0.6);
  margin-top:4px;
}
.info-box {
  a.grey_block {
    background-color: $light_grey !important;
    padding: 1px 5px;
    margin-left: 10px;}}
.info-box.slim {padding:8px 20px}
///////////////////////////////

.grey-table-card {
  padding:0 10px 15px;
  .table {
    th{
      background:rgba(255,255,255,1);
    }
    td{
      background:rgba(255,255,255,0.6);
    }
  }
}




