.sidebar-float {
	  height:1px;
	  position: fixed;
	  z-index: 9999;
	  top: 0;
	  left: 50%;
	  width: 940px;
	  margin-left: -480px;
	}
	.sidebar-float .sidebar-float-body {
	  float: right;
	  width: 32%;
	  background-color: #E3E3E3;
	}
	.sidebar-float .sidebar-float-hide { display: none; }
	.sidebar-float .sidebar-float-hide.float-toggle { display: block; }
	.sidebar-float.sidebar-float-context {
	  position: absolute;
	  z-index: 9998;
	  top: 228px;
	  height:1px;
	}
	.sidebar-float.sidebar-float-context.float-fixed {
	  position: fixed;
	}

	.stop-here-2 {
		margin-top: 0;
	}

	.summary-header-block-2,
	.sidebar-floater {
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		z-index: 5;
	}