@import "_re-eng-configurator.scss";
@import "_sidebar.scss";


// Add on form stuff


ul, ol {
  padding-left: 1.2em;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
  margin-right: 10px;
  width: auto; // Override of generic input selector  
}

// Hide the original checkbox
// display:none does not work because the element does not receive events in IE7 and IE8
input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"] + label span {
    background-size: 67px;
    cursor: pointer;
    display:inline-block;
    width: 32px;
    height: 34px;
    margin:0 0px 0 0;
    vertical-align: middle;
    &:hover{
      opacity: 0.6;
  }
}

input[type="checkbox"].normal + label span {
  // background-position: top left;
  background: url('../../images/sprite/checkradio.png') no-repeat scroll -38px 0;
  background-size: 67px;
}
input[type="checkbox"].normal:checked + label span {
  background: url('../../images/sprite/checkradio.png') no-repeat scroll -38px -29px;
  background-size: 67px;
}

// IE7 and IE8 do not have access to :checked
input[type="checkbox"].checked + label span {
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -38px -29px;
    background-size: 67px;
}

input[type="checkbox"].error + label span {
  background: url('../../images/sprite/checkradio.png') no-repeat scroll -38px -58px;
  background-size: 67px;
}

input[type="checkbox"].error:checked + label span {
  background: url('../../images/sprite/checkradio.png') no-repeat scroll -38px -87px;
  background-size: 67px;
}

input[type="checkbox"].disabled + label span {
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -38px -116px;
    background-size: 67px;
    cursor: not-allowed;
}

input[type="checkbox"].disabled.checked + label span {
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -38px -145px;
    background-size: 67px;
    cursor: not-allowed;
}

input[type="radio"] + label span {
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -5px 0;
    background-size: 67px;
    cursor: pointer;
    display: inline-block;
    height: 38px;
    margin: 0;
    margin-right: 3px;
    vertical-align: middle;
    width: 32px;
    &:hover{
      opacity: 0.8;
  }
}

input[type="radio"].checked + label span, input[type="radio"]:checked + label span  {
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -5px -33px;
    background-size: 67px;
}

input[type="radio"].error + label span {
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -5px -66px;
    background-size: 67px;
}

input[type="radio"].error:checked + label span {
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -5px -99px;
    background-size: 67px;
}

input[type="radio"].disabled + label span{
  background: url('../../images/sprite/checkradio.png') no-repeat scroll -5px -132px;
    background-size: 67px;
    border-color: #cccccc;
  cursor: not-allowed;
}

input[type="radio"].disabled.checked + label span, input[type="radio"].disabled:checked + label span{
    background: url('../../images/sprite/checkradio.png') no-repeat scroll -5px -167px;
    background-size: 67px;
    border-color: #cccccc;
    cursor: not-allowed;
}

// Add on stylesheet for mobile re-eng configurator

input[type=radio] + label {
  &.button.blue {
    padding:18px 0;
    position: relative;
    cursor: pointer;
    span{
      background: none;
      width: 0;
      position:absolute;
    }
      
  }
} 


input[type=radio]:checked + label {
  &.button.blue{
      background: #e1058c;
      cursor: default;
      span{
        background: url('../../images/sprite/checkradio.png') no-repeat scroll 0 -210px;
        background-size: 70px;
        width: 34px;
        height: 34px;
        right: 10px;
        top: 10px;
      }
  }
} 


.sidebar {

  .panel-group .panel{
    border:none;

    .table-card.non-res {
     overflow-x: hidden !important;
    }

   .panel-body {
      border-top: none !important;
      margin-top: 10px;

      .table-card tr td:last-child{
        text-align:right;
      }
    }
  }

  .table-row {
    padding: 4px 12px 8px 12px;
  }
}

.number-selection{
  margin-top: 5px;
}


.thanks-offer{
  height: 14px;
  margin: 5px auto;
}

.wifi-offer{
  margin: 5px auto 5px -10px;

  display: inline-block;
  img{height: 18px; vertical-align: top; }
  strong{
    color:#555554 ;
    font-size: 12px;
  }
  
}
.wifi-offer-new {
  margin: 5px auto 5px -22px;
}

.spotify-offer{
  margin: 5px auto;
  height: 22px;
}

span.margin-right{
  margin-right: 5px !important;
}


.row{
  &.content-container {
      padding-bottom: 33px;
  }
}

// Infobox link highlight

.info-box{
  &.yellow, &.green, &.red{
    a{
      background: #eee;
      padding: 2px 4px;
    } 
  }

  &.white{
    padding-top: 20px;
  }

  .preffered-date{
    padding-top: 10px;
    padding-left: 20px;
  }
}

// White boxes price figure e.g. $99/MTH
.device-price-white {
  background-color: #fff;
  margin-top: 5px;
  width: 90%;

  .number {
    display: inline-block;
    font-family: AvenirNextLTPro-Bold,Calibri,Arial,sans-serif;
    font-size: 60px;
    letter-spacing: -4px;
    line-height: 60px;
    margin-top: 17px;
    color: $dark_grey;

    &:before {
      content: attr(data-pre);
      display: inline;
      font-size: 20px;
      letter-spacing: 0px;
      padding-left: 2px;
      position: relative;
      top: -28px;
    }

    &:after {
      content: attr(data-suff);
      font-size: 14px;
      letter-spacing: 0px;
      padding-left: 0;
    }
  }
  &.small-price {
    margin-top: 18px;
    margin-left: -20px;

    .number {
      line-height: 48px;
    }
  }
}



// Thank you page specific style
.mobile-reeng {
  .thankyou-image {
    .inner-card {
      height: 400px !important;
    }
    .fg-image img {
      width: 940px !important;
      height: 400px !important;
    }
  }
  .image-2 {
    .inner-card {
      height: 400px !important;
    }
    &.hero-card .fg-image img {
      width: 940px !important;
      height: 400px !important;
    }
  }
  .custom-inner-card h1 {
    max-width: 67% !important;
  }
}


.table-card.non-res {
  margin: 0px;
}

.checkout-price-column {
  /*font-weight: bold;*/
  padding-right: 10px !important;
  vertical-align: middle !important;
  margin: 0px;
  
}

.panel-group .panel{
  border:none;
}

// .pad-table-row{
//   min-height: 60px;
// }
.mobile-extras {
  padding-top: 20px;
}


// Carousel styling

.device-carousel-card.selected{
  button, a.button{
    background: #e1058c !important;
    position:relative;
    &:after{
        content: "";
        background: url("../../images/sprite/checkradio.png") no-repeat scroll 0 -210px;
        background-size: 70px;
        width: 34px;
        height: 34px;
        right: 10px;
        top: -1px;
        position:absolute;
    }
  }
}

.device-carousel-card.disabled{
  button, a.button{
    background: #babcbe !important;
  }
}

.detail-table {
  margin-top: -15px;
  width: 100%;
  tr {
    border-top: 1px solid #babcbe;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: 1px solid #babcbe;
    }
  }
  .left {
    text-align: left;
    vertical-align: middle;
    padding-right: 12px;
    padding-left: 20px;

    img{
      height:32px;
    }
  }
  .right {
    text-align: left;
    vertical-align: top;
    padding: 8px 0 6px;
  }
}

.device-carousel-card{
  position:relative;

  .special-offer-banner{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45px;
    right: 13px;
    background: url('//spark.co.nz/content/dam/telecomcms/responsive/images/shop/mobile/plans-pricing/yellow-box.png')no-repeat;
    color: #4f438a; 
    line-height: 1.2;
    padding: 5px;
    background-size: 60px auto;

    h5{
      font-size: 11px;
      font-family: AvenirNextLTPro-Demi, Calibri;
      margin: 6px auto;
      line-height: 1.3;
    }
  }

  .service-info {

    .service-price {
      height: 140px !important;
    }

    .yellow-note {
        background: none repeat scroll 0 0 #fff200;
        margin-top: -25px;
        position: relative;

        h5{
          font-size: 11px;
          font-family: AvenirNextLTPro-Demi, Calibri;
          margin: 5px auto;
        }
    }

    .yellow-note .arrow-down{
      border-top: 10px solid #fff200 !important;
    }

    @media (max-width: 639px) {
      .special-offer-banner{
        top: 75px;
      }

      .service-info{
        margin-top: 50px;
      }
    }
  }

}


// Country flag

img.flag{
  height: 26px; width:auto;
  display: inline-block;
  margin-right: 5px;
  margin-top: -5px;
}

// Additional Dropdown Styles

.dropdown {
  .prefix{    
    width:100px;
    float: left;
  }
  .number{
    width:200px;
    float: left;
  }
  .small{
    font-size: 14px;
  }
  button {
    background: white;
    border: 1px solid $blue;
      color: $blue !important;
      font-size: 14px;
      height: 34px;
      line-height: 20px;
      padding: 4px 8px;
      text-align: left;
    text-shadow: none;
    text-transform: none;
      width: 100%;
      min-width: 30px!important;
      position: relative; /* for pie_IE678.js*/

    &:after{
      font-family: fontello;
      font-size: 20px;
      content: '\e828';
      display:block;
      position:absolute;
      right: 0;
      top:6px;
      width: 20px;
      height: 20px;
    }

    &.selected{
      background:$blue;
      color: white !important;

    }

      .caret {
      color: $blue;
        border: 0;
        height: 18px;
        position: absolute;
        right: 6px;
        top: 6px;
        width: 20px;
      }

  }
  .dropdown-menu {
    background: #FFF;
    border: 1px solid $blue;
    border-top: 0;
      color: $blue !important;
      box-shadow: none;
    float: none;
    font-size: 12px;
    left: 0;
    position: absolute;
    right: auto;
    top: 25px;
    width: 100%;  
    padding:0;
    li {
      margin: 0;
      cursor: pointer;
      a {
        font-size: 14px;
        padding: 8px;
        color: #4cb8e3;

        @media screen and (min-width: 1025px) {
          &:hover {
            background: $blue;
            border-radius: 0;
            color: white;
          }
        }
      }
    }
  }
  &.short {
    min-width: 95px;    
    .dropdown-menu {
      min-width: 95px;
    }
  }
  
  &.error {
    button {
      color: $red !important;
      border: 1px solid $red;
    }
    .dropdown-menu{
      border: 1px solid $red;
      border-top: 0;

      li a{   
        color: $red !important;
        
        &:hover{
          color: white !important;
          background: $red;

        }
      }
    }
  }

}
#myModal {
  z-index: 10000;
}
.modal-content .title {
  width: 100%;
}
.modal-dialog {
  width: 940px;
}
.modal-dialog-new {
  width: 640px;
}
.custom-border {
  border-bottom: 1px solid #babcbe;
  padding-bottom: 20px;
}
.link-bg {
  background-color: #f0d7bd;
  padding: 0 5px;
  white-space: nowrap;
}

button.disabled, .button.disabled, .btn.disabled {
  background: #babcbe !important;
  color: #ebebec !important;
  border-color: #babcbe !important;
  cursor: not-allowed;
}
.service-price {
  background: #e3e3e3 !important;
}
.carousel.device.price.white-card .service-info .service-price .number, .carousel.device.price.white-card .service-info .service-price .txt {
  color: #000;
}
.carousel.device.price.white-card .service-info .arrow-down {
  border-top: 10px solid #e3e3e3;
}
.thanks-offer, .wifi-offer, .spotify-offer {
  margin-top: 15px;
}
.note-box {
  font-size: 13px;
}
.custom-button {
  width: 251px !important;
}
.carousel.device .yellow-note h5 {
  padding: 0px;
  color: #414042; 
}
