body{
  background: #f5f5f5;
}


/*From Main.css*/
h2 {
  font-size: 24px;
  line-height: 28px;
  display: block;
}
h1, h2, h3, h4, h5 {
  color: #414042;
}

label {
    color: #414042;
    font-weight: normal;
}
p, label, .help-block, .info-box, .table-card .table {
    margin: 0px 0px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #414042;
    letter-spacing: -0.2px;
}
.AvenirNextLTPro-Regular, label, p, .help-block, .info-box, .table-card .table, #header .primary .search .input-append, #footer .nav .col a, #footer .bottom .wrap ul li a, body {
    font-family: AvenirNextLTPro-Regular,Calibri,Arial,sans-serif;
}
.submenu label {
  white-space: nowrap;
}
.blue-bg {
  background: #13a4de !important;
}
.blue, button.blue, .button.blue, .btn.blue {
  background: #13a4de;
}
button.slim, .button.slim, .btn.slim {
    font-size: 19px;
    line-height: 16px;
    width: 280px;
}
button.secondary.blue, .button.secondary.blue, .btn.secondary.blue {
  color: #72d0f4;
  border-color: #72d0f4;
}
button.blue:hover.secondary:hover, .carousel.device.advance-price .advance-price-card:hover button.secondary, .carousel.device .device-carousel-card:hover button.secondary, .button.blue:hover.secondary:hover, .carousel.device.advance-price .advance-price-card:hover button.button.secondary, .carousel.device .device-carousel-card:hover button.button.secondary, .btn.blue:hover.secondary:hover, .carousel.device.advance-price .advance-price-card:hover button.btn.secondary, .carousel.device .device-carousel-card:hover button.btn.secondary {
  background: #0088cc;
}

button, .button, .btn {
  border: 1px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  text-indent: 0;
  text-align: center;
  width: inherit;
  width: 100%;
  border-radius: 0px;
  font-size: 30px;
  line-height: 28px;
  padding: 8px 15px 5px;
  display: inline-block;
  -webkit-padding-before: 9px;
  -webkit-padding-after: 5px;
}

button:hover.blue, .carousel.device .device-carousel-card:hover button, .button:hover.blue, .carousel.device .device-carousel-card:hover button.button, 
.btn:hover.blue, .carousel.device .device-carousel-card:hover button.btn {
  background: #72d0f4;
  cursor: pointer;
}
/*b, strong {
  font-weight: bold;
}*/

@font-face{
font-family:"AvenirNextLTPro-Regular";
src:url("../font/Avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
src:url("../font/Avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("../font/Avenir/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg"), url("../font/Avenir/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("../font/Avenir/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype");
}
@font-face{
font-family:"AvenirNextLTPro-Medium";
src:url("../font/Avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
src:url("../font/Avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"), url("../font/Avenir/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg"), url("../font/Avenir/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("../font/Avenir/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype");
}
@font-face{
font-family:"AvenirNextLTPro-Demi";
src:url("../font/Avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
src:url("../font/Avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../font/Avenir/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg"), url("../font/Avenir/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("../font/Avenir/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype");
}
@font-face{
font-family:"AvenirNextLTPro-Bold";
src:url("../font/Avenir/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
src:url("../font/Avenir/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"), url("../font/Avenir/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg"), url("../font/Avenir/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("../font/Avenir/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype");
}

/* ------------------------------------ */
/* ! 02. Typography                     */
/* ------------------------------------ */

/* Font stack */

.AvenirNextLTPro-Demi, p.small, label.small, .small.help-block, .small.info-box, .table-card .small.table, a, h4.block, h4.block .block-link, textarea, textarea.form-control, input, input[type="text"], .help-block.note, #header .type ul li > a, #header .primary > ul > li > a, #header .primary .products > li > a, #header .primary .products .promo p span, #header .primary .products .promo label span, #header .primary .products .promo .help-block span, #header .primary .products .promo .info-box span, #header .primary .products .promo .table-card .table span, .table-card #header .primary .products .promo .table span, #footer .footerbreadcrumb, #footer .nav .col h5 a, #footer .nav .col.contact .footer-social h5, .card .bottom-bar, .hero-card .bottom-bar, .carousel-card .bottom-bar, .top-progress-bar div .progress-bar-label h4, .top-progress-bar div .progress-bar-number h4, .video-card .bottom-bar, .device-card .inner-card .device-info .device-price .number:before, .device-card .bottom-bar, .price-card .inner-card .service-info .service-price .number:before, .price-card .inner-card .service-info .service-price .txt, .price-card .bottom-bar, .carousel.device.price .service-info .service-price .number:before, .carousel.device.price .service-info .service-price .txt, .bottom-bar.device-card-bottom-bar, button, .button, .btn {
  font-family: AvenirNextLTPro-Demi, Calibri, Arial, sans-serif;
}

.AvenirNextLTPro-Regular{font-family: AvenirNextLTPro-Regular, Calibri, Arial, sans-serif;} 
.AvenirNextLTPro-Medium{font-family: AvenirNextLTPro-Medium, Calibri, Arial, sans-serif;}
.AvenirNextLTPro-Demi{font-family: AvenirNextLTPro-Demi, Calibri, Arial, sans-serif;}
.AvenirNextLTPro-Bold{font-family: AvenirNextLTPro-Bold, Calibri, Arial, sans-serif;}


.shop-filter .shop-cart-icon.active, .compare-basket .shop-cart-icon.active,
.cart-listing {
  border: none;
  border-radius: 0px;
}
/*.shop-filter .shop-cart-icon {
  padding: 4px 8px 15px 52px;
}*/

.shop-filter .shop-cart-icon.active {
  position: relative;
  color: #0099cc;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 18px;
  background: url("http://www.spark.co.nz/etc/designs/tnz/publish/img/shop-icons.png") no-repeat -744px -665px #ffffff;
 
  padding: 8px 8px 15px 43px;
  /*padding: 4px 8px 4px 39px;*/
    /*padding: 0px 8px 4px 39px;*/
    border-right: 10px solid #ffffff;
}

.blue, button.blue, .button.blue, .btn.blue {
  background: #13a4de;
}

button.normal, .button.normal, .btn.normal {
  width: 280px;
}
button.blue, button.button.blue, button.btn.blue, .button.blue, .btn.blue {
  border: 1px solid #ffffff;
}
.blue-bg {
  padding: 10px 0px; 
}
.cart-listing {
  padding: 0px;
  font-family: AvenirNextLTPro-Regular, Calibri, Arial, sans-serif;
}

.clear {
  clear: both;
}
.cart_heading {
  color: #13a4de;
  padding-top: 19px !important;
  font-family: AvenirNextLTPro-Bold, Calibri, Arial, sans-serif;
}

.accordion, .cart-listing-item-title, .cart_heading {
  padding: 0px 15px;
}

/*.cart-listing b, .cart-listing strong {
  font-family: AvenirNextLTPro-Bold, Calibri, Arial, sans-serif;
}*/

.cart-listing .cart-listing-item .cart-listing-item-meta .cart-meta-title {
  font-family: AvenirNextLTPro-Regular, Calibri, Arial, sans-serif;
}

 /*accorion test*/



.acc-container {
  width:90%;
  margin:30px auto 0 auto;
  overflow:hidden;
}

.acc-btn { 
  width:100%;
  margin:0 auto;
  padding:0px 5px;
  cursor:pointer;
  background: #fff url("../images/arrow.png") no-repeat;
  border-bottom:1px solid #2C3E50;
}

.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  background:#2C3E50;
}

.acc-content-inner {
  padding:30px;
}

.open {
  height: auto;
}

h1 {
  font:700 20px/26px 'Lato', sans-serif;
  color:#ffffff;
}

p { 
  font:400 16px/24px 'Lato', sans-serif;
  color:#798795;
}

.selected {
  color:#1ABC9C;
}

/* Shared for all accordion types */
.accordion {
    margin:0 auto;
    font-size:14px;
    /*border:1px solid #542437;*/
    border-radius:10px;
    /*width:600px;*/
    padding:10px 15px;
    background:#fff;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
  float: left;
    display:block;
    font-size:16px;
    line-height:1.2;
    /*background:#D95B43;*/
    background: #fff url("../images/arrow_close.png") no-repeat 0% 11%;
    /*border:1px solid #542437;*/
    color:#542437;
    cursor:pointer;
    text-transform:uppercase;
    /*-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;*/
}
.accordion .item-title {
    float: left;
    display:block;
    font-size:16px;
    line-height:1.2;
    /*background:#D95B43;*/
    background: #fff url("../images/arrow_close.png") no-repeat;
    /*border:1px solid #542437;*/
    color:#542437;
    cursor:pointer;
    text-transform:uppercase;
    /*-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;*/
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    /*background:#C02942;*/
    /*color:#FFF;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)*/
}
.accordion .content {
    /*padding:0 10px;*/
    overflow:hidden;
    /*
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;*/
}
.accordion p {
    color:#333;
    margin:0 0 10px;
}
.accordion h3 {
    color:#542437;
    padding:0;
    margin:10px 0;
}


/* Vertical */
.vertical ul li {
    overflow:hidden;
    /*margin:0px 15px 0 1px;*/

}
.vertical ul li label {
  margin-top: 4px;   
    width: 240px !important;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
    background: #fff url("../images/arrow.png") no-repeat 0% 11%;
}

.vertical ul li label:hover {
    /*border:1px solid #542437;*/ /* We don't want the border to disappear on hover */
}
.vertical ul li .content {
    height:0px;
    border-top:0;
    float: left;

    
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:auto;
    /*border:1px solid #542437;*/
}
.cart-listing {
  width: 385px;
}

.item_title,
.cart-listing-item-meta {
  float: left;
}
.item_title {
  font-family: AvenirNextLTPro-Bold,Calibri,Arial,sans-serif;
  color: #404042;
  padding-left:20px;
    font-size: 16px;
    /*font-weight: bold;*/
    line-height:1.2;
    /*margin-top: 20px;*/
    text-transform: uppercase;

}
.main_total {
  color: #404042;
  float: right;
  padding-top: 6px;
}


ul.cart-listing-item-meta {
  border-top: 1px solid #babcbe; 
  padding-top: 10px;
  width: 355px;
}
.cart-meta-title {
  width: 210px !important;
  vertical-align: top;
}
.cart-meta-desc {
  text-align: right;
  width: 113px;
}

ul.no-sub-item  li:first-child{
  padding-top: 0px !important; 
}
.no-sub-item  {
  border-bottom: 1px solid #babcbe !important; 
  padding: 15px 0px !important;
}
.cart-listing-new {
  max-height: 524px;
}
.cart-listing-item-meta li {
  background-color: #eeeeee;
  padding: 10px;
}
li.cart-meta-desc {text-align: right;}
.cart-listing .cart-listing-item {
  border: none;
}
.cart-listing .cart-listing-item .cart-listing-item-meta li {
  margin-bottom: 2px;
}
.cart-listing .cart-listing-item .cart-listing-item-meta .cart-meta-desc,
.cart-meta-title {
  font-family: AvenirNextLTPro-Regular,Calibri,Arial,sans-serif;
  color: #414042 !important;
  font-size: 14px;
  line-height: 22px;
}
.cart-listing .cart-listing-buttons {
  margin-top: 5px;
  margin-bottom: 0px;
}

/*.shop-filter > li > a {
    padding: 7px 34px;  
}*/
/*.shop-filter .shop-cart-icon, .compare-basket .shop-cart-icon {
  padding: 0px 8px 4px 39px;
}*/

.cart-listing {
  height: auto;
  overflow-y:hidden !important;
}

/*.shop-filter .shop-filter-grid {
  background-color: transparent;
  margin-left: 15em;
  margin-right: 1em;
}*/
.shop-filter > li:last-child {
  margin-right: 0;
  /*margin-left: 2px;*/
}

.cart-listing .cart-listing-buttons .cart-button-close {
  background: none;
  float:none;
  width: auto;
  display: inline-block;
}

.cart-listing {
  z-index: 4000;
}
.overlay{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.15;
  z-index: 5;
}

.blue-button-under-card{
  padding-bottom: 3px;
}
