//
// Carousel
//
.carousel {
	  padding: 0 40px;

	// Product detailed image
	&.carousel-prod-img {
		margin-bottom: 20px;
		padding: 30px 0 0;

		.slick-slide img {
			height: 350px;
			width: auto;
		}

		.slick-slide.out-of-stock:before {
			background-color: rgba(255, 255, 255, .6);
			content: attr(data-message);
			font-family: 'AvenirNextLTPro-Bold', Calibri, Arial, sans-serif;
			font-size: 2.5em;
			height: 100%;
			padding-top: 175px;
			position: absolute;
			text-transform: uppercase;
			width: 350px;
		}

		.slick-prev, .slick-next { margin-top: 45px; }
	}

	// Product detailed nav
	&.carousel-prod-nav {
		padding-bottom: 20px;

		img {
			cursor: pointer;
			height: 60px;
			width: 60px;
		}

		.slick-track { text-align: center; }

		.slick-slide {
			float: none;
  			display: inline-block;
  			margin: 0 5px;
			width: auto !important;
		}
	}

	&.carousel-list {

		.slick-slide {

			a {
				height: 100%;
				padding-bottom: 14px;
			}
		}
	}

	a {
		background-color: transparent;
		padding: 15px 20px 20px;
		width: 100%;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);

			.link {
				text-decoration: none;
			}		
		}

		.carousel-items {

			p {
				margin-bottom: 12px;
				text-transform: uppercase;
			}

			.header {

				& + hr { margin: 10px 0 20px; }
			}

			.device-img { margin-bottom: 15px; }

			.link {
				background: none;
				border: none;
				color: #13a4de;
				font-size: 1em;
				line-height: 1;
				padding: 0;
				text-transform: initial;
			}
		}
	}
}

.card .inner-card.carousel-header {
	padding-bottom: 0;

	h2 { margin: 0; }
}

//
// Product options
//
.device-colour-options {
	text-align: right;

	input[type="radio"] + label span {
		background: #EAEBEB;
		border: 2px solid #E2E2E2;
		height: 33px;
		width: 33px;

		&.pink { background: #FC14DB; }

		&.blue { background: #005594; }

		&.purple { background: #A84EBC; }

		&.red { background: #C74E75; }

		&.out-of-stock {
			background-image: url('../../gallery-page/j5/images/out-of-stock.png');
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	input[type="radio"]:checked + label span { border-color: #EB0C8B; }
}

//
// Price box
//
.device-price {
	background: #fff;
	height: 118px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;

	&.device-price-shade {
		background: rgba(0, 0, 0, 0.1);
		height: 110px;
	}

	.decimal,
	.number { font-family: 'AvenirNextLTPro-Bold', Calibri, Arial, sans-serif; }

	.number {
		color: #414042;
		display: inline-block;
		font-size: 60px;
		letter-spacing: -4px;
		line-height: 80px;
		margin-left: -20px;
		margin-top: 15px;

		&:before {
			content: attr(data-pre);
			display: inline;
			font-size: 24px;
			letter-spacing: 0;
			padding-left: 2px;
			position: relative;
			top: -28px;
		}

		&:after {
			content: attr(data-suff);
			font-size: 14px;
			letter-spacing: 0;
			padding-right: 5px;
		}
	}

	.decimal {
		font-size: 25px;
		position: absolute;
		top: 25px;
	}
}

//
// SlickJs - Prev, Next buttons
//
.slick-slider { margin-bottom: 20px; }

.slick-prev,
.slick-next {
	background: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
	display: block;
	filter: none;
	font-size: 0;
	height: 100%;
	line-height: 0;
	margin-top: 0;
	outline: none;
	padding: 0;
	position: absolute;
	top: 0;
	width: 40px;
	z-index: 99;

	&:active,
	&:focus {
		border: none;
		outline: none;
	}

	&:before {
		background: #72d0f4;
		color: #fff;
		font-family: "fontello";
		font-size: 30px;
  		padding: 20px 13px 19px;
	}
}

.slick-next { right: 0; }

.slick-prev { left: 0; }

.slick-prev:before { content: "\e815"; }

.slick-next:before { content: "\e804"; }

//
// SlickJS - Inner content
//
.slick-slide { text-align: center }

.slick-slide > a,
.slick-slide > img,
.slick-slide img { display: inline-block; }

//
// Header block override
//
.content-block-header { margin-bottom: 0; }

//
// Dropdown override
//
.dropdown:last-of-type { margin-top: 10px; }

//
// CTA button box override
//
.blue_bg {
	background-color: #13a4de;
	padding: 20px;

	&.disabled {
		background-color: #BABCBE;

		.blue.secondary.normal {
			color: #EBEBEC;
			background-color: #BABCBE;
			border-color: #fff;
		}
	}

	.text-center { padding: 0; }

	.blue.secondary.normal {
		font-size: 1.65em;
		width: 100%;
	}
}

//
// Overrides
//
.card.primary.small-form.animated {
	
	h1 { max-width: 100%; }

	.content-block-header {
		border-bottom: 16px solid #bb0370;
		min-height: 100%;
		padding-bottom: 7px;
	}

	.inner-card { padding-bottom: 10px; }
}

#detailsTabContent {

	hr { margin: 20px 20px 10px; }
	
	.inner-card {

		&:first-of-type { padding-top: 0; }

		&:last-of-type { padding-bottom: 10px; }

	}
}