//
// Helper class
//
.inline-block{display:inline-block !important}
.block{display:block !important}

.no-margin{margin:0}
.no-padding{padding:0}
.margin-top{margin-top: 15px}
.margin-right{margin-right: 15px}
.margin-bottom{margin-bottom: 15px}
.margin-left{margin-left: 15px}


// minor adjustment to tabs

.nav-tabs.nav-justified li a h3 {
  line-height: 32px;
}

.carousel .slick-slide a{
    height: 170px;
    margin: 10px 0;
    &:hover {
	    background-color: white;
	}
}

.dropdown.short .dropdown-menu {
    border-radius: 0;
    top:35px;
}

//
// Filter box
//
.filter-box {
	line-height: 3;
	padding: 0 20px;
	z-index: 3000;

	.dropdown { 
		margin-top: 0; 
		&.short{min-width:125px;}
	}

	.right-filter .inline-block{
		width: 50%;
		text-align: right;
		padding-right:10px;
	}


	@media (max-width: 699px) {

	  .inline-block{width:100%; margin: 0;}

	  .left-filter, .right-filter {
	    width: 100%
	  }
	

	  .right-filter .inline-block{
		width: 100%;
		text-align: left;
		padding-right: 0;
	  }
	  
	}
}

//
// Tab panel override
//
#myResponsiveTabContent.tab-content {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

//
// Carousel for filters in Gallery page
//
.carousel-gallery {

	&.slick-slider { margin-bottom: 0; }

	& + .inner-card {
		padding: 0 20px;

		hr { margin: 0 0 20px; }
	}
}

//
// Selected filters
//
.link-group.ticker ul a:first-of-type {
	color: inherit;
	cursor: default;
	font-family: 'AvenirNextLTPro-Regular';
	margin-right: 10px;
}
.link-group.ticker ul a li {
	display: inline-block;
	margin-right: 10px;
	padding: 2px 4px 2px 4px;
	.icon-x{
		font-size: 10px;
		padding-right:2px;
	}
}

//
// Device card
//
.device-card {

	.inner-card {

		hr { margin: 10px 0 20px; }

		.header {
			text-align: center;

			h4 { margin: 0; }
		}

		.device-img {
			left: 30px;
			position: absolute;
  			z-index: 1;
		}

		.device-info {
			margin-top: 20px;
			padding-left: 0 !important;
			width: 100%;

			.device-price {
				background-color: #E6E6E6;
				height: 100px;
  				margin: 0;

  				.price-wrap{
  					position:relative;
  					width: 55%;
  					float: right;
  					height: 100%;
  				}

  				.number {
					color: #333;
					font-size: 2.8em;
					display: inline-block;
					line-height: 1;
					margin: 10px auto;
					height: 30px;
					position:relative;

					&:before {
						font-size: 15px;
						top: -17px;
						padding-left:0;
					}
  				}

  				.decimal {
					color: #333;
					font-size: 20px;
					letter-spacing: -2px;
					display: inline-block;
					margin: -10px 0 0 5px;
  				}

  				.prev-price {
					color: #333;
					font-family: 'AvenirNextLTPro-Regular';
					text-align: center;
					text-transform: uppercase;
					position: absolute;
  					top: 60px;
					width: 100%;
					margin-left: 10px;
  				}
			}

			.free {
				background-color: #FEF200;
				color: #333;
				font-size: 10px;
				line-height: 1.3;
				padding: 10px 10px 10px 53%;
				text-transform: uppercase;
			}

			.available-colors {
				bottom: 10px;
				list-style: none;
				margin: 0;
				position: absolute;
				right: 20px;

				li {
					background: #32312D;
					float: left;
					height: 10px;
					margin-right: 2px;
					width: 10px;

					&.red { background: #F9443F; }
					&.navy { background: #444D65; }
					&.brown { background: #675149; }
					&.ivory { background: #E6D4C6; }
					&.pink { background: #F40EDF; }
					&.blue { background: #4E88C0; }
					&.purple { background: #A44BBD; }
					&.redwine { background: #BD4D74; }
					&.white {
						background: #fff;
						border: 1px solid #000;
					}
				}
			}
		}
	}
}

//
// Filter icons : Will change when we have a proper set
//
.icon-filter {
	background: url('../../gallery-page/j5/images/filter-icons.png') 1px 1px no-repeat;
	height: 93px;
	margin: 0 auto;
	width: 93px;

	&.selected {
		background-position: 1px -107px;
	}

	& + h4 {
		margin-top: 10px;
		text-transform: uppercase;
	}
}

#brands .icon-filter {
	background-position: -92px 1px;

	&.selected {
		background-position: -92px -107px;
	}
}

#colours .icon-filter {
	background-position: -186px 1px;

	&.selected {
		background-position: -186px -107px;
	}
}

#deals .icon-filter {
	background-position: -278px 1px;

	&.selected {
		background-position: -278px -107px;
	}
}

// Infobox link highlight

.info-box{
  &.yellow, &.green, &.red{
    a{
      background: #eee;
      padding: 2px 4px;
    } 
  }

  &.white{
    padding-top: 20px;
  }

  .preffered-date{
    padding-top: 10px;
    padding-left: 20px;
  }
}
