
.primary li.parent:hover {a {color: white;}}
.primary li li, .primary li li:hover {a {color: #13a4de !important;}}
.icon.circle {background: #13a4de !important;}
.input-large {border-radius: 0px !important;}


.dropdown-menu > li > a:hover { background-color: #13a4de; color: #ffffff; }
.dropdown.short .dropdown-menu, .dropdown .dropdown-menu { min-width: 60px; }

.top-progress-bar div.previous .arrow-right { border-left-width: 20.5px; }
#footer #footer_channel {
	width: 1000px;
}


@media only screen and (max-width:939px) {
	#header {width:960px;}


/*	h3 {
		margin: 20px 0 16px 0 !important;
	}*/
	.fibre .info-box.green-box h3 {
		margin: 0 !important;
	}
	.page-header {
		width: 100%;
		padding: 0 !important;
		padding-bottom:10px !important;
		margin: 0;
		background: inherit !important;
		border-bottom: 1px solid #a6a6a6 !important;
	}
	.top-progress-bar {
		&.four-steps div.current,
		&.four-steps div {width:25%;}
		.bottom-border {display: inline-block;}
  		div {
  			.progress-bar-label {display: inline-block;}
      		.arrow-right {
      			border-left-width: 20.5px !important;
      			border-top-width: 30px !important;
      			border-bottom-width: 30px !important;
      		}
  			margin-left: -20px;
			padding: 15px 0 15px 20px;
  		}
	}
	.content-block-header {border-bottom:0 !important;margin: 0 0 20px;}
	#footer .nav .col ul {display:block !important;}
	#footer .nav .col h5 {margin: 16px 0 4px 0 !important;}
	#footer .nav .col.contact .footer-social h5 {display:block !important;}
	#footer .nav .col.contact .footer-social {margin-bottom: 40px !important;}
	#footer #footer_channel {display:block !important;}
	#footer .footerbreadcrumb {border-bottom: 4px solid #13a4de;}
	#footer ul.breadcrumb {
		background: inherit !important;
		color: inherit !important;
		padding-left: inherit !important;}
	#footer ul.breadcrumb li a {color: #666 !important;}
	#footer .breadcrumb > li + li:before {color: #ccc !important;}
	#footer .bottom .wrap {
		border-top:0;
		.copyright {
			color:#babcbc !important;
			float: right !important;
			margin-top: 0 !important;
			text-align: right !important;
		}}	
	#footer .bottom .wrap .copyright {clear:inherit !important;margin-top:-20px !important;}
	#footer .bottom .wrap .legal {clear: inherit !important;float:right !important;}
	#footer .bottom .wrap .legal a {color:#babcbc !important;}
	#footer .bottom .wrap ul li {color: #babcbe;}
	#footer .fullwidth-bg {border-top: 1px solid #babcbe !important;}
	#footer .nav .col.contact {display:block !important;}
	#footer .nav .col.contact .footer-social a i {
		color:#666 !important;
		font-size:34px !important;
	}
	#footer .nav .col.contact .footer-social {
		display:block !important;
		position: relative !important;
		right: inherit !important;
		color:#666 !important;
	}
}

@media only screen and (max-width: 639px) {
	#header {width:960px;}
    h1 {
    	font-size:33px;line-height: 36px;
      	word-spacing: -1px;margin: 15px 0 5px 0;}
  	h1.block {letter-spacing: 1px;}
	h1.block span, h1.block .block-link {
		margin: 1px 2px 1px 0 !important;
		padding: 3px 10px 2px 10px !important;
		line-height: 48px !important;
    }
    button.normal, .button.normal, .btn.normal {width:280px !important;}
    .card .inner-card h2 {
    	font-size:24px;
    	line-height:35px;
    	margin-bottom:0;
    	margin-top:-4px;
    	margin-bottom:16px;
    	border-bottom:1px solid #babcbc;
    }
    .ico-block .ico-card-img {
    	margin: 0 auto !important;
    	max-width: inherit;
    	padding: 0;
    }
    .ico-block .ico-card {
    	text-align: center;
    }
    .ico-block .ico-card-txt .ico-center {
    	max-width: 204px;
    }
	.floating-header-wrap {
	  background: white !important;
	  height: inherit;
	} 
	.page-header {
		width: 100%;
		padding: 0 !important;
		padding-bottom:10px !important;
		margin: 0;
		background: inherit !important;
		border-bottom: 1px solid #a6a6a6 !important;
		h4 {margin: 0;}
		a.back-btn {
		color: white;
		text-transform: uppercase;
		opacity: 0.5;
		display: block;}
		a.back-btn:hover {
		opacity: 1;
		text-decoration: none;}
		a.back-btn i {
  		font-size: 120%;} 
	}
	.page-header h1 {
		margin-left: 0;
		text-transform: none !important;
		color: #949494 !important;
		font-size: 33px !important;
		line-height: 36px !important;
		padding-left: 0;}
	#footer #footer_channel {display:block !important;}
}
