/* line 4, ../../scss/accessories/_details.scss */
.carousel {
  padding: 0 40px; }
  /* line 8, ../../scss/accessories/_details.scss */
  .carousel.carousel-prod-img {
    margin-bottom: 20px;
    padding: 30px 0 0; }
    /* line 12, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-img .slick-slide img {
      height: 350px;
      width: auto; }
    /* line 17, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-img .slick-slide.out-of-stock:before {
      background-color: rgba(255, 255, 255, 0.6);
      content: attr(data-message);
      font-family: 'AvenirNextLTPro-Bold', Calibri, Arial, sans-serif;
      font-size: 2.5em;
      height: 100%;
      padding-top: 175px;
      position: absolute;
      text-transform: uppercase;
      width: 350px; }
    /* line 29, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-img .slick-prev, .carousel.carousel-prod-img .slick-next {
      margin-top: 45px; }
  /* line 33, ../../scss/accessories/_details.scss */
  .carousel.carousel-prod-nav {
    padding-bottom: 20px; }
    /* line 36, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-nav img {
      cursor: pointer;
      height: 60px;
      width: 60px; }
    /* line 42, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-nav .slick-track {
      text-align: center; }
    /* line 44, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-nav .slick-slide {
      float: none;
      display: inline-block;
      margin: 0 5px;
      width: auto !important; }
  /* line 56, ../../scss/accessories/_details.scss */
  .carousel.carousel-list .slick-slide a {
    height: 100%;
    padding-bottom: 14px; }
  /* line 63, ../../scss/accessories/_details.scss */
  .carousel a {
    background-color: transparent;
    padding: 15px 20px 20px;
    width: 100%; }
    /* line 68, ../../scss/accessories/_details.scss */
    .carousel a:hover {
      background-color: rgba(0, 0, 0, 0.1); }
      /* line 71, ../../scss/accessories/_details.scss */
      .carousel a:hover .link {
        text-decoration: none; }
    /* line 78, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items p {
      margin-bottom: 12px;
      text-transform: uppercase; }
    /* line 85, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items .header + hr {
      margin: 10px 0 20px; }
    /* line 88, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items .device-img {
      margin-bottom: 15px; }
    /* line 90, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items .link {
      background: none;
      border: none;
      color: #13a4de;
      font-size: 1em;
      line-height: 1;
      padding: 0;
      text-transform: initial; }

/* line 103, ../../scss/accessories/_details.scss */
.card .inner-card.carousel-header {
  padding-bottom: 0; }
  /* line 106, ../../scss/accessories/_details.scss */
  .card .inner-card.carousel-header h2 {
    margin: 0; }

/* line 112, ../../scss/accessories/_details.scss */
.device-colour-options {
  text-align: right; }
  /* line 115, ../../scss/accessories/_details.scss */
  .device-colour-options input[type="radio"] + label span {
    background: #EAEBEB;
    border: 2px solid #E2E2E2;
    height: 33px;
    width: 33px; }
    /* line 121, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.pink {
      background: #FC14DB; }
    /* line 123, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.blue {
      background: #005594; }
    /* line 125, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.purple {
      background: #A84EBC; }
    /* line 127, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.red {
      background: #C74E75; }
    /* line 129, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.out-of-stock {
      background-image: url("../../gallery-page/j5/images/out-of-stock.png");
      background-repeat: no-repeat;
      background-position: center; }
  /* line 136, ../../scss/accessories/_details.scss */
  .device-colour-options input[type="radio"]:checked + label span {
    border-color: #EB0C8B; }

/* line 142, ../../scss/accessories/_details.scss */
.device-price {
  background: #fff;
  height: 118px;
  margin-bottom: 10px;
  position: relative;
  text-align: center; }
  /* line 149, ../../scss/accessories/_details.scss */
  .device-price.device-price-shade {
    background: rgba(0, 0, 0, 0.1);
    height: 110px; }
  /* line 154, ../../scss/accessories/_details.scss */
  .device-price .decimal,
  .device-price .number {
    font-family: 'AvenirNextLTPro-Bold', Calibri, Arial, sans-serif; }
  /* line 157, ../../scss/accessories/_details.scss */
  .device-price .number {
    color: #414042;
    display: inline-block;
    font-size: 60px;
    letter-spacing: -4px;
    line-height: 80px;
    margin-left: -20px;
    margin-top: 15px; }
    /* line 166, ../../scss/accessories/_details.scss */
    .device-price .number:before {
      content: attr(data-pre);
      display: inline;
      font-size: 24px;
      letter-spacing: 0;
      padding-left: 2px;
      position: relative;
      top: -28px; }
    /* line 176, ../../scss/accessories/_details.scss */
    .device-price .number:after {
      content: attr(data-suff);
      font-size: 14px;
      letter-spacing: 0;
      padding-right: 5px; }
  /* line 184, ../../scss/accessories/_details.scss */
  .device-price .decimal {
    font-size: 25px;
    position: absolute;
    top: 25px; }

/* line 194, ../../scss/accessories/_details.scss */
.slick-slider {
  margin-bottom: 20px; }

/* line 196, ../../scss/accessories/_details.scss */
.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  filter: none;
  font-size: 0;
  height: 100%;
  line-height: 0;
  margin-top: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 99; }
  /* line 215, ../../scss/accessories/_details.scss */
  .slick-prev:active, .slick-prev:focus,
  .slick-next:active,
  .slick-next:focus {
    border: none;
    outline: none; }
  /* line 221, ../../scss/accessories/_details.scss */
  .slick-prev:before,
  .slick-next:before {
    background: #72d0f4;
    color: #fff;
    font-family: "fontello";
    font-size: 30px;
    padding: 20px 13px 19px; }

/* line 230, ../../scss/accessories/_details.scss */
.slick-next {
  right: 0; }

/* line 232, ../../scss/accessories/_details.scss */
.slick-prev {
  left: 0; }

/* line 234, ../../scss/accessories/_details.scss */
.slick-prev:before {
  content: "\e815"; }

/* line 236, ../../scss/accessories/_details.scss */
.slick-next:before {
  content: "\e804"; }

/* line 241, ../../scss/accessories/_details.scss */
.slick-slide {
  text-align: center; }

/* line 243, ../../scss/accessories/_details.scss */
.slick-slide > a,
.slick-slide > img,
.slick-slide img {
  display: inline-block; }

/* line 250, ../../scss/accessories/_details.scss */
.content-block-header {
  margin-bottom: 0; }

/* line 255, ../../scss/accessories/_details.scss */
.dropdown:last-of-type {
  margin-top: 10px; }

/* line 260, ../../scss/accessories/_details.scss */
.blue_bg {
  background-color: #13a4de;
  padding: 20px; }
  /* line 264, ../../scss/accessories/_details.scss */
  .blue_bg.disabled {
    background-color: #BABCBE; }
    /* line 267, ../../scss/accessories/_details.scss */
    .blue_bg.disabled .blue.secondary.normal {
      color: #EBEBEC;
      background-color: #BABCBE;
      border-color: #fff; }
  /* line 274, ../../scss/accessories/_details.scss */
  .blue_bg .text-center {
    padding: 0; }
  /* line 276, ../../scss/accessories/_details.scss */
  .blue_bg .blue.secondary.normal {
    font-size: 1.65em;
    width: 100%; }

/* line 287, ../../scss/accessories/_details.scss */
.card.primary.small-form.animated h1 {
  max-width: 100%; }
/* line 289, ../../scss/accessories/_details.scss */
.card.primary.small-form.animated .content-block-header {
  border-bottom: 16px solid #bb0370;
  min-height: 100%;
  padding-bottom: 7px; }
/* line 295, ../../scss/accessories/_details.scss */
.card.primary.small-form.animated .inner-card {
  padding-bottom: 10px; }

/* line 300, ../../scss/accessories/_details.scss */
#detailsTabContent hr {
  margin: 20px 20px 10px; }
/* line 304, ../../scss/accessories/_details.scss */
#detailsTabContent .inner-card:first-of-type {
  padding-top: 0; }
/* line 306, ../../scss/accessories/_details.scss */
#detailsTabContent .inner-card:last-of-type {
  padding-bottom: 10px; }

/* line 4, ../../scss/accessories/_gallery.scss */
.inline-block {
  display: inline-block !important; }

/* line 5, ../../scss/accessories/_gallery.scss */
.block {
  display: block !important; }

/* line 7, ../../scss/accessories/_gallery.scss */
.no-margin {
  margin: 0; }

/* line 8, ../../scss/accessories/_gallery.scss */
.no-padding {
  padding: 0; }

/* line 9, ../../scss/accessories/_gallery.scss */
.margin-top {
  margin-top: 15px; }

/* line 10, ../../scss/accessories/_gallery.scss */
.margin-right {
  margin-right: 15px; }

/* line 11, ../../scss/accessories/_gallery.scss */
.margin-bottom {
  margin-bottom: 15px; }

/* line 12, ../../scss/accessories/_gallery.scss */
.margin-left {
  margin-left: 15px; }

/* line 17, ../../scss/accessories/_gallery.scss */
.nav-tabs.nav-justified li a h3 {
  line-height: 32px; }

/* line 21, ../../scss/accessories/_gallery.scss */
.carousel .slick-slide a {
  height: 170px;
  margin: 10px 0; }
  /* line 24, ../../scss/accessories/_gallery.scss */
  .carousel .slick-slide a:hover {
    background-color: white; }

/* line 29, ../../scss/accessories/_gallery.scss */
.dropdown.short .dropdown-menu {
  border-radius: 0;
  top: 35px; }

/* line 37, ../../scss/accessories/_gallery.scss */
.filter-box {
  line-height: 3;
  padding: 0 20px;
  z-index: 3000; }
  /* line 42, ../../scss/accessories/_gallery.scss */
  .filter-box .dropdown {
    margin-top: 0; }
    /* line 44, ../../scss/accessories/_gallery.scss */
    .filter-box .dropdown.short {
      min-width: 125px; }
  /* line 47, ../../scss/accessories/_gallery.scss */
  .filter-box .right-filter .inline-block {
    width: 50%;
    text-align: right;
    padding-right: 10px; }
  @media (max-width: 699px) {
    /* line 56, ../../scss/accessories/_gallery.scss */
    .filter-box .inline-block {
      width: 100%;
      margin: 0; }
    /* line 58, ../../scss/accessories/_gallery.scss */
    .filter-box .left-filter, .filter-box .right-filter {
      width: 100%; }
    /* line 63, ../../scss/accessories/_gallery.scss */
    .filter-box .right-filter .inline-block {
      width: 100%;
      text-align: left;
      padding-right: 0; } }

/* line 75, ../../scss/accessories/_gallery.scss */
#myResponsiveTabContent.tab-content {
  background-color: transparent;
  box-shadow: none;
  padding: 0; }

/* line 86, ../../scss/accessories/_gallery.scss */
.carousel-gallery.slick-slider {
  margin-bottom: 0; }
/* line 88, ../../scss/accessories/_gallery.scss */
.carousel-gallery + .inner-card {
  padding: 0 20px; }
  /* line 91, ../../scss/accessories/_gallery.scss */
  .carousel-gallery + .inner-card hr {
    margin: 0 0 20px; }

/* line 98, ../../scss/accessories/_gallery.scss */
.link-group.ticker ul a:first-of-type {
  color: inherit;
  cursor: default;
  font-family: 'AvenirNextLTPro-Regular';
  margin-right: 10px; }

/* line 104, ../../scss/accessories/_gallery.scss */
.link-group.ticker ul a li {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 4px 2px 4px; }
  /* line 108, ../../scss/accessories/_gallery.scss */
  .link-group.ticker ul a li .icon-x {
    font-size: 10px;
    padding-right: 2px; }

/* line 121, ../../scss/accessories/_gallery.scss */
.device-card .inner-card hr {
  margin: 10px 0 20px; }
/* line 123, ../../scss/accessories/_gallery.scss */
.device-card .inner-card .header {
  text-align: center; }
  /* line 126, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .header h4 {
    margin: 0; }
/* line 129, ../../scss/accessories/_gallery.scss */
.device-card .inner-card .device-img {
  left: 30px;
  position: absolute;
  z-index: 1; }
/* line 135, ../../scss/accessories/_gallery.scss */
.device-card .inner-card .device-info {
  margin-top: 20px;
  padding-left: 0 !important;
  width: 100%; }
  /* line 140, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .device-info .device-price {
    background-color: #E6E6E6;
    height: 100px;
    margin: 0; }
    /* line 145, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .price-wrap {
      position: relative;
      width: 55%;
      float: right;
      height: 100%; }
    /* line 152, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .number {
      color: #333;
      font-size: 2.8em;
      display: inline-block;
      line-height: 1;
      margin: 10px auto;
      height: 30px;
      position: relative; }
      /* line 161, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .device-price .number:before {
        font-size: 15px;
        top: -17px;
        padding-left: 0; }
    /* line 168, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .decimal {
      color: #333;
      font-size: 20px;
      letter-spacing: -2px;
      display: inline-block;
      margin: -10px 0 0 5px; }
    /* line 176, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .prev-price {
      color: #333;
      font-family: 'AvenirNextLTPro-Regular';
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 60px;
      width: 100%;
      margin-left: 10px; }
  /* line 188, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .device-info .free {
    background-color: #FEF200;
    color: #333;
    font-size: 10px;
    line-height: 1.3;
    padding: 10px 10px 10px 53%;
    text-transform: uppercase; }
  /* line 197, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .device-info .available-colors {
    bottom: 10px;
    list-style: none;
    margin: 0;
    position: absolute;
    right: 20px; }
    /* line 204, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .available-colors li {
      background: #32312D;
      float: left;
      height: 10px;
      margin-right: 2px;
      width: 10px; }
      /* line 211, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.red {
        background: #F9443F; }
      /* line 212, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.navy {
        background: #444D65; }
      /* line 213, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.brown {
        background: #675149; }
      /* line 214, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.ivory {
        background: #E6D4C6; }
      /* line 215, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.pink {
        background: #F40EDF; }
      /* line 216, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.blue {
        background: #4E88C0; }
      /* line 217, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.purple {
        background: #A44BBD; }
      /* line 218, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.redwine {
        background: #BD4D74; }
      /* line 219, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.white {
        background: #fff;
        border: 1px solid #000; }

/* line 232, ../../scss/accessories/_gallery.scss */
.icon-filter {
  background: url("../../gallery-page/j5/images/filter-icons.png") 1px 1px no-repeat;
  height: 93px;
  margin: 0 auto;
  width: 93px; }
  /* line 238, ../../scss/accessories/_gallery.scss */
  .icon-filter.selected {
    background-position: 1px -107px; }
  /* line 242, ../../scss/accessories/_gallery.scss */
  .icon-filter + h4 {
    margin-top: 10px;
    text-transform: uppercase; }

/* line 248, ../../scss/accessories/_gallery.scss */
#brands .icon-filter {
  background-position: -92px 1px; }
  /* line 251, ../../scss/accessories/_gallery.scss */
  #brands .icon-filter.selected {
    background-position: -92px -107px; }

/* line 256, ../../scss/accessories/_gallery.scss */
#colours .icon-filter {
  background-position: -186px 1px; }
  /* line 259, ../../scss/accessories/_gallery.scss */
  #colours .icon-filter.selected {
    background-position: -186px -107px; }

/* line 264, ../../scss/accessories/_gallery.scss */
#deals .icon-filter {
  background-position: -278px 1px; }
  /* line 267, ../../scss/accessories/_gallery.scss */
  #deals .icon-filter.selected {
    background-position: -278px -107px; }

/* line 276, ../../scss/accessories/_gallery.scss */
.info-box.yellow a, .info-box.green a, .info-box.red a {
  background: #eee;
  padding: 2px 4px; }
/* line 282, ../../scss/accessories/_gallery.scss */
.info-box.white {
  padding-top: 20px; }
/* line 286, ../../scss/accessories/_gallery.scss */
.info-box .preffered-date {
  padding-top: 10px;
  padding-left: 20px; }

/*# sourceMappingURL=accessories.css.map */
