

.shop-product-name h3,
.shop-product-name h4 {
	text-transform: lowercase;
}
.detail-table{
	color: #dd1582 !important;
	margin-bottom: 5px;
	width: 100%;

}
table tbody tr td {
	color: #dd1582;
	padding: 9px 13px;
}
table tbody tr,
table tbody tr:nth-child(2n) {
	background-color: #fff;


}
.detail-table .left {
	background-color: #fef5fa;
	padding: 11px 10px 10px 14px;

}
.detail-table .right_box {
	background-color: #fbe7f3;
	/*padding-top: 22px;*/
	vertical-align: middle;
}
.detail-table tr{
	margin-bottom: 10px;
	border-bottom: 3px solid #fff;
}
.detail-table tr:first-child{border-top: none;}

.detail-table .left{
  text-align: center;
  vertical-align: top;
}

.detail-table .right{
  text-align: left;
  vertical-align: top;
  padding: 8px 0 6px 0;
}
.half-size {
  width: 110px;
  height: auto;
}
a:focus {
	outline: 0px;
}
.view_link{
	text-transform: lowercase;
}
.inner_view_link{
	text-transform: capitalize;
}
.carousel.device .device-carousel-card .header p {
	text-transform: lowercase;
}
.carousel.device .device-carousel-card .header p:first-letter {
    text-transform: uppercase;
}

#featuredContent.orbit {
  margin-left: 40px;
}
.addtocart_data_item_hl_mobile {
  color: #dd188a;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.addtocart_data {
  margin-bottom: 3px;
}
/*Journey 2*/
.right-box {
	min-height:10px;  
	height:100%; 
	margin-bottom:20px;
	text-align: center;
}